@font-face {
  font-family: "iconfont"; /* Project id 4571070 */
  src: url('iconfont.woff2?t=1718286266937') format('woff2'),
       url('iconfont.woff?t=1718286266937') format('woff'),
       url('iconfont.ttf?t=1718286266937') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fail:before {
  content: "\e64e";
}

.icon-launchC:before {
  content: "\e731";
}

.icon-retractA:before {
  content: "\e747";
}

.icon-branchB:before {
  content: "\e618";
}

.icon-branch:before {
  content: "\e6a5";
}

.icon-catalog-closeB:before {
  content: "\e62f";
}

.icon-label:before {
  content: "\e77e";
}

.icon-quit:before {
  content: "\e652";
}

.icon-launchB:before {
  content: "\e60f";
}

.icon-retractB:before {
  content: "\e74b";
}

.icon-retractC:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e62b";
}

.icon-close:before {
  content: "\e624";
}

.icon-noindex:before {
  content: "\e643";
}

.icon-catalog-close:before {
  content: "\e613";
}

.icon-sun:before {
  content: "\e603";
}

.icon-style:before {
  content: "\e62e";
}

.icon-moon:before {
  content: "\e60c";
}

.icon-menu-index:before {
  content: "\e62a";
}

.icon-catalog-show:before {
  content: "\e65a";
}

.icon-launchA:before {
  content: "\e748";
}

