@font-face {
  font-family: "iconfont"; /* Project id 4571070 */
  src: url('iconfont.woff2?t=1717424978763') format('woff2'),
       url('iconfont.woff?t=1717424978763') format('woff'),
       url('iconfont.ttf?t=1717424978763') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-label:before {
  content: "\e77e";
}

.icon-catalog-1:before {
  content: "\e62d";
}

.icon-catalog-2:before {
  content: "\e6b2";
}

.icon-catalog-3:before {
  content: "\e628";
}

.icon-quitB:before {
  content: "\e6af";
}

.icon-quit:before {
  content: "\e652";
}

.icon-launchB:before {
  content: "\e60f";
}

.icon-retractB:before {
  content: "\e74b";
}

.icon-launchC:before {
  content: "\e600";
}

.icon-retractC:before {
  content: "\e604";
}

.icon-launchC-2:before {
  content: "\e602";
}

.icon-search:before {
  content: "\e62b";
}

.icon-close:before {
  content: "\e624";
}

.icon-noindex:before {
  content: "\e643";
}

.icon-catalog-close:before {
  content: "\e613";
}

.icon-menu:before {
  content: "\e71c";
}

.icon-sun:before {
  content: "\e603";
}

.icon-style:before {
  content: "\e62e";
}

.icon-moon:before {
  content: "\e60c";
}

.icon-retractA:before {
  content: "\e63b";
}

.icon-menu-index:before {
  content: "\e62a";
}

.icon-catalog-show:before {
  content: "\e65a";
}

.icon-launchA:before {
  content: "\e748";
}

