/* ALI-ICONFONT*/
@font-face {
  font-family: "iconfont"; /* Project id 4571070 */
  src: url('../ali-iconfont-2/iconfont.woff2?t=1717407125272') format('woff2'),
  url('../ali-iconfont-2/iconfont.woff?t=1717407125272') format('woff'),
  url('../ali-iconfont-2/iconfont.ttf?t=1717407125272') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fail:before {
  content: "\e64e";
}

.icon-launchC:before {
  content: "\e731";
}

.icon-retractA:before {
  content: "\e747";
}

.icon-branchB:before {
  content: "\e618";
}

.icon-branch:before {
  content: "\e6a5";
}

.icon-catalog-closeB:before {
  content: "\e62f";
}

.icon-label:before {
  content: "\e77e";
}

.icon-quit:before {
  content: "\e652";
}

.icon-launchB:before {
  content: "\e60f";
}

.icon-retractB:before {
  content: "\e74b";
}

.icon-retractC:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e62b";
}

.icon-close:before {
  content: "\e624";
}

.icon-noindex:before {
  content: "\e643";
}

.icon-catalog-close:before {
  content: "\e613";
}

.icon-sun:before {
  content: "\e603";
}

.icon-style:before {
  content: "\e62e";
}

.icon-moon:before {
  content: "\e60c";
}

.icon-menu-index:before {
  content: "\e62a";
}

.icon-catalog-show:before {
  content: "\e65a";
}

.icon-launchA:before {
  content: "\e748";
}

/*colors*/
$text-color: #000000;
$text-grey: #999999;
$title-color: rgb(39, 56, 75);
$title-color2: rgb(48, 78, 112);

$bg-color: #fdfdfd;
$bg-color2: rgb(236, 239, 240);
$border-color: #d3d3d3;
$grey-color: #d9d9d9;
$code-bg-color: #eeeeee;

$green: rgb(2, 189, 102);
$red: #d00101;
$orange: #ff6d0d;

$text-dark: rgb(196, 196, 196);
$text-grey-dark: rgb(46, 62, 66);

$bg-dark: rgb(22, 27, 32);
$bg-dark2: rgb(41, 55, 61);
$code-bg-dark: rgba(184, 204, 208, 0.12);
$grey-color-dark: rgb(52, 65, 72);

/*size*/
$size-32: 3.2rem;
$size-30: 3.0rem;
$size-28: 2.8rem;
$size-26: 2.6rem;
$size-24: 2.4rem;
$size-22: 2.2rem;
$size-20: 2.0rem;
$size-18: 1.8rem;
$size-16: 1.6rem;
$size-14: 1.4rem;
$size-12: 1.2rem;
$size-10: 1.0rem;

/*border*/
@mixin border-default($width:1px,$style:solid,$color:$border-color) {
  border: $width $style $color;
}

@mixin border-bottom($width:1px,$style:solid,$color:$border-color) {
  border-bottom: $width $style $color;
}

/*border-radius*/
@mixin border-radius($size:0.8rem) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
}

/*code style*/
@mixin code-box($margin:1rem,$padding:1.8rem,$font-size:1.4rem,$bag:$code-bg-color) {
  margin: $margin 0;
  padding: $padding;
  border: 1px solid rgb($border-color, .5);
  background: $bag;
  font-size: $font-size;
  box-sizing: border-box;
}

/*table style*/
@mixin table-style($bor-color:$grey-color,$bag-color:$code-bg-color,$bor-radius:0.8rem) {
  width: 100%;
  margin-top: $size-16;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $bor-radius;
  overflow: hidden;
  thead {
    tr th {
      border-top: 1px solid $bor-color;
    }
  }
  tr th, tr td {
    padding: 0.8rem 1rem;
    border-right: 1px solid $bor-color;
  }
  tr th:first-child, tr td:first-child {
    border-left: 1px solid $bor-color;
  }
  tr:first-child th:first-child {
    border-top-left-radius: $bor-radius;
    background: $bag-color;
  }
  tr:first-child th:last-child {
    border-top-right-radius: $bor-radius;
    background: $bag-color;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: $bor-radius;
    border-bottom: 1px solid $bor-color;
    background: $bag-color;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: $bor-radius;
    border-bottom: 1px solid $bor-color;
    background: $bag-color;
  }
  tbody tr:nth-child(even) {
    background: $bag-color;
  }
}

/*after/before content style*/
@mixin pseudo-element($c:"",$w:.5rem,$h:.1rem,$p:relative) {
  content: $c;
  display: inline-block;
  width: $w;
  height: $h;
  position: $p;
  z-index: 10;
}

@mixin bag-border-dark($bag:$bg-dark2,$bor:$grey-color-dark) {
  background: $bag;
  border-color: $bor;
}

//box-shadow-1
@mixin box-shadow-1($color:$grey-color) {
  box-shadow: 0 0 .2rem .1rem $color;
  -webkit-box-shadow: 0 0 .2rem .1rem $color;
  -moz-box-shadow: 0 0 .2rem .1rem $color;
  -o-box-shadow: 0 0 .2rem .1rem $color;
}

//box-shadow-2
@mixin box-shadow-2($color:$grey-color) {
  box-shadow: 0 -.2rem .1rem $color;
  -webkit-box-shadow: 0 -.2rem .1rem $color;
  -moz-box-shadow: 0 -.2rem .1rem $color;
  -o-box-shadow: 0 -.2rem .1rem $color;
}

//box-shadow-3
@mixin box-shadow-3($color:$grey-color) {
  box-shadow: 0 0 .2rem .2rem $color;
  -webkit-box-shadow: 0 0 .2rem .2rem $color;
  -moz-box-shadow: 0 0 .2rem .2rem $color;
  -o-box-shadow: 0 0 .2rem .2rem $color;
}

@mixin text-shadow($x:.05rem,$y:.1rem,$s:.12rem,$c:rgb($border-color,0.75)) {
  text-shadow: $x $y $s $c;
}

/*  Custom input placeholder*/
input::-webkit-input-placeholder, /* WebKit browsers */
input:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
input::-moz-placeholder, /* Mozilla Firefox 19+ */
input:-ms-input-placeholder /* Internet Explorer 10+ */
{
  color: $text-grey;

}

/*  Custom input placeholder*/
input::-webkit-input-placeholder { /* WebKit browsers */
  color: $text-grey;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $text-grey;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $text-grey;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $text-grey;
}

/*  Custom Scroll*/
@mixin custom-scroll($color:$text-dark) {
  /*非webkit内核浏览器*/
  scrollbar-color: rgb($grey-color, 0.8) rgb($grey-color, 0.15);
  scrollbar-width: thin;

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb {
    width: .8rem;
    height: .8rem;
    border-radius: .4rem;
  }

  /* 滑块背景色 */
  ::-webkit-scrollbar-thumb {
    background: rgb($grey-color, .8);
  }
  /* 其余相关样式设置跟滑块一个背景色 */
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-corner,
  ::-webkit-resizer,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track-piece {
    background: rgb($grey-color, 0.15);
  }

  /* 隐藏滚动条按钮 */
  ::-webkit-scrollbar-button {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.error {
  @include border-radius(.6rem);
  padding: 1.6rem;
  background: rgb($red, .5);
}

/*input checkbox no-style*/
.input-checkebox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  content: "";
  display: inline-block;
  position: relative;
  width: $size-16;
  height: $size-16;
  background-color: $bg-color;
  border: 1px solid $title-color;
  vertical-align: middle;
  font-size: $size-20;
  line-height: 1;
  margin-bottom: 0.3rem;
  margin-right: 1rem;
  box-sizing: border-box;
}

/*input text no-style*/
.input-text {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid $border-color;
  padding: 0 .6rem;
  @include border-radius(.6rem);
  box-sizing: border-box;
  outline: none;
}

//javascript control
.js-level1-style {
  @include border-bottom($color: $grey-color);
}

.js-search {
  @include border-default();
  @include border-radius($size: 0.6rem);
  max-height: 60vh !important;
  @include box-shadow-1(rgb($grey-color, .6));
  background: $bg-color;
  & > nav {
    max-height: 60vh;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    scrollbar-width: none;
    -webkit-scrollbar:none;
  }

  a {
    color: $text-color !important;
  }
  i {
    color: $text-grey !important;
  }
}

#right-container .js-show h1 > span,
#right-container .js-show h2 > span,
#right-container .js-show h3 > span,
#right-container .js-show h4 > span,
#right-container .js-show h5 > span,
#right-container .js-show h6 > span {
  display: block !important;
}

.list-wrapper .js-close {
  display: none;
}

.js-width-0 {
  width: 0 !important;
}

.js-height-0 {
  height: 0 !important;
}

.js-height-1 {
  height: 4rem !important;
}

.js-noindex {
  & ul li a p {
    display: none !important;
  }
}

#list-container .js-retract {
  & > ul > li ul {
    display: none;
  }
}

#list-container .js-launch {
  & > ul > li ul {
    display: block;
  }
}

#list-container .list-wrapper .js-item-retract,
#list-container .list-wrapper .js-item-retract {
  & > ul {
    display: none;
  }
}

#list-container .list-wrapper .js-item-launch,
#list-container .list-wrapper .js-item-launch {
  & > ul {
    display: block;
  }
}

#list-container .js-active > a,
.search-result .js-active
{
  color: $green !important;
  background: $code-bg-color !important;
  @include border-radius(.5rem);

  &:before {
    width: 1.2rem;
  }
}

.search-result .search-click{
  @include border-radius(.5rem);
  padding: .4rem .6rem;
  color: $orange !important;
  background: $code-bg-color;
}

#list-container .js-active > .iconfont {
  color: $green !important;
}

.js-show-shadow,
.js-show-shadow .iconfont {
  @include text-shadow();
}

.js-close-shadow,
.js-close-shadow .iconfont {
  text-shadow: none;
}

.js-show-tree .list-wrapper {
  & ul:before,
  & ul li:before,
  & ul li a:before,
  & ul:after,
  & ul li:after,
  & ul li a:after,
  {
    display: block !important;
  }
}

.js-close-tree .list-wrapper {
  & ul:before,
  & ul li:before,
  & ul li a:before,
  & ul:after,
  & ul li:after,
  & ul li a:after,
  {
    display: none !important;
  }
  & ul li a{
    margin-left: 1.7rem;
  }
}

//=========================

/*theme dark style*/
@mixin theme-dark {
  .js-close-shadow,
  .js-close-shadow .iconfont {
    text-shadow: none;
  }
  .js-show-shadow,
  .js-show-shadow .iconfont {
    @include text-shadow($x: .2rem, $y: .2rem, $s: .2rem, $c: $text-color);
  }
  .search-result .search-click{
    color: $orange !important;
    background: $grey-color-dark;
  }
  .js-active > a {
    background: $grey-color-dark !important;
  }
  #list-container .js-active > a,
  .search-result .js-active{
    background: $bg-dark2 !important;
  }
  & {
    background-color: $bg-dark;
    color: $text-dark;
  }
  ::selection {
    color: $text-dark;
    text-shadow: none;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $text-dark;
  }
  .js-level1-style {
    @include border-bottom($color: $grey-color-dark);
  }
  hr {
    background: $grey-color-dark;
  }
  u {
    text-decoration-color: $text-dark;
    -moz-text-decoration-color: $text-dark;
  }
  kbd {
    background-color: $title-color2;
  }
  code, pre {
    @include bag-border-dark($code-bg-dark, $grey-color-dark);
  }

  table {
    @include table-style($bor-color: $grey-color-dark, $bag-color: $code-bg-dark);
  }
  input {
    @include bag-border-dark($bg-dark2, $grey-color-dark);
    color: $text-dark;

    &::placeholder {
      color: $text-grey;
    }
  }
  .iconfont {
    color: $grey-color-dark;
    text-shadow: .1rem .1rem .1rem rgb($bg-dark2, 1);

    &:hover {
      text-shadow: .1rem .1rem .1rem rgb($green, .2);
    }
  }
  .note-tips {
    border-color: $text-grey-dark;
    color: $text-grey-dark;
  }
  #right-container,
  #left-container,
  .top-container,
  .bottom-container {
    background: $bg-dark;
    color: $text-dark;
    border-color: $grey-color-dark;
  }
  .list-wrapper {
    .iconfont {
      color: $text-grey-dark;
      background: $bg-dark;
    }

    a {
      color: $text-dark;
    }

    ul, li, a {
      &:after, &:before {
        background: $grey-color-dark;
      }
    }

    & ul li:hover {
      & > a {
        background: $bg-dark2;
      }
    }

    & ul li ul li:last-child:before,
    & > ul > li:first-child > a:after,
    & > ul li:last-child > a:after,
    & > ul > li:last-child:after,
    & > ul > li:last-child > a:after {
      background: $bg-dark;
    }
  }
  .search {
    &::placeholder {
      color: rgb($text-dark, .4);
    }
  }

  .search-result {
    @include bag-border-dark();
    background: $bg-dark2 !important;
    a, i {
      color: rgb($text-dark, .4) !important;
    }
  }
  .js-search {
    @include box-shadow-1(rgb($green, .15));
    color: rgb($text-dark, .4) !important;

    a {
      color: $text-dark !important;
      &:hover {
        color: $green !important;
        background: $code-bg-dark !important;
      }
    }
    i {
      color: rgb($text-grey, .4) !important;
    }
  }
  .search-icon {
    color: rgb($text-dark, .4);
    background: $bg-dark2;
    &:hover {
      color: $green;
    }
  }

  &:hover .structure-child {
    background: $bg-dark;
    @include bag-border-dark($bg-dark, $grey-color-dark);
    border-bottom-color: $bg-dark;
    @include box-shadow-2(rgb($green, .15));
  }

  .structure-child {
    background: $bg-dark;

    li {
      &:first-child,
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:last-child {
        border-color: $grey-color-dark;
      }
    }
  }
  #switch-button {
    .icon-catalog-close {
      color: $text-dark;
    }
  }


  /*非webkit内核浏览器*/
  scrollbar-color: rgb($grey-color-dark, .8) rgb($grey-color-dark, 0.1);

  //滑块背景色
  ::-webkit-scrollbar-thumb {
    background: rgb($grey-color-dark, .8);
  }
  //其余相关样式设置跟滑块一个背景色
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-corner,
  ::-webkit-resizer,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track-piece {
    background: rgb($grey-color-dark, 0.1);
  }
}


