/*hljs-style*/
pre code.hljs {
  overflow-x: auto;
}

code.hljs {
  color: #284567;
  padding: 0;
}

.hljs {
  background: transparent;
}

.hljs-comment {
  color: #778c9d;
}

.hljs-punctuation, .hljs-tag {
  color: #4ad3f8;
}

.hljs-tag .hljs-attr, .hljs-tag .hljs-name {
  color: #fa5a5a;
}

.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-name, .hljs-selector-tag {
  color: #3cb2fc;
  font-weight: 700
}

.hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
  color: $green;
}

.hljs-section, .hljs-title {
  color: #af66ef;
  font-weight: 700;
}

.hljs-link, .hljs-operator, .hljs-regexp, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-symbol, .hljs-template-variable, .hljs-variable {
  color: #ff5c6d;
}

.hljs-literal {
  color: #0d50cc;
}

.hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
  color: $orange;
}

.hljs-meta {
  color: #ae42f3;
}

.hljs-meta .hljs-string {
  color: #32b1e1;
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}
@mixin code-dark {
  code,code.hljs {
    color: #95def6;
  }
  .hljs-comment {
    color: #667c89;
  }
}