@charset "UTF-8";
/* ALI-ICONFONT*/
@font-face {
  font-family: "iconfont"; /* Project id 4571070 */
  src: url("../ali-iconfont-2/iconfont.woff2?t=1717407125272") format("woff2"), url("../ali-iconfont-2/iconfont.woff?t=1717407125272") format("woff"), url("../ali-iconfont-2/iconfont.ttf?t=1717407125272") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-launchC:before {
  content: "\e731";
}

.icon-retractA:before {
  content: "\e747";
}

.icon-branchB:before {
  content: "\e618";
}

.icon-branch:before {
  content: "\e6a5";
}

.icon-catalog-closeB:before {
  content: "\e62f";
}

.icon-label:before {
  content: "\e77e";
}

.icon-quit:before {
  content: "\e652";
}

.icon-launchB:before {
  content: "\e60f";
}

.icon-retractB:before {
  content: "\e74b";
}

.icon-retractC:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e62b";
}

.icon-close:before {
  content: "\e624";
}

.icon-noindex:before {
  content: "\e643";
}

.icon-catalog-close:before {
  content: "\e613";
}

.icon-sun:before {
  content: "\e603";
}

.icon-style:before {
  content: "\e62e";
}

.icon-moon:before {
  content: "\e60c";
}

.icon-menu-index:before {
  content: "\e62a";
}

.icon-catalog-show:before {
  content: "\e65a";
}

.icon-launchA:before {
  content: "\e748";
}

/*colors*/
/*size*/
/*border*/
/*border-radius*/
/*code style*/
/*table style*/
/*after/before content style*/
.active {
  background: rgb(238, 238, 238);
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  position: relative;
  z-index: 12;
}

/*input checkbox no-style*/
.input-checkebox, input[type=checkbox], input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  content: "";
  display: inline-block;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
  border: 1px solid rgb(40, 55, 75);
  vertical-align: middle;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.3rem;
  margin-right: 1.2rem;
  box-sizing: border-box;
}

/*input text no-style*/
.input-text, .search {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #d0d0d0;
  padding: 0 0.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  box-sizing: border-box;
  outline: none;
}

/*  Custom input placeholder*/
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: #999999;
}

/*  Custom input placeholder*/
input::-webkit-input-placeholder { /* WebKit browsers */
  color: #999999;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999999;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999999;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #999999;
}

/*  Custom Scroll*/
/*theme dark style*/
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "PingFang SC", "PingFang", "Helvetica", "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 62.5%;
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  overflow: hidden;
  letter-spacing: 0.1rem;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  box-sizing: border-box;
  text-shadow: 0.075rem 0.075rem 0.075rem rgba(208, 208, 208, 0.75);
}

h1, h2, h3, h4, h5, h6 {
  margin: 4rem 0 2rem;
  color: rgb(40, 55, 75);
  letter-spacing: 0.2rem;
}

h1 {
  font-size: 3rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #d9d9d9;
}
h1:first-of-type {
  border: none;
  padding-bottom: 2rem;
  text-align: center;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

h5 + p, h6 + p {
  margin-top: -0.8rem;
}

hr {
  border: none;
  height: 0.1rem;
  margin: 1.8rem 0;
  background: #d9d9d9;
  box-sizing: border-box;
}

::selection {
  background: rgba(40, 180, 115, 0.75);
  color: #000000;
}

a {
  text-decoration: none;
  color: rgb(40, 180, 115);
  cursor: pointer;
}
a:hover {
  color: #e82323;
}

p {
  margin: 1.8rem 0 0;
  text-align: justify;
}

p a {
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: #ff5900;
}

u {
  text-decoration-color: rgb(40, 180, 115);
  -moz-text-decoration-color: rgb(40, 180, 115);
}

em {
  font-weight: 300;
}

del {
  color: #999999;
  text-decoration: line-through;
  text-decoration-color: #e82323;
  -moz-text-decoration-color: #e82323;
}

mark {
  background-color: rgb(40, 180, 115);
  padding: 0.2rem 1rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
}

kbd {
  display: inline-block;
  line-height: 2.2rem;
  border: none;
  background: rgb(40, 55, 75);
  color: #d9d9d9;
  border-image: none;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  padding: 0 0.6rem;
  margin-right: 0.6rem;
  vertical-align: inherit;
  font-size: 1.4rem;
}

img {
  width: 100%;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
}

ul li, ol li, dl dt, dl dd {
  margin-left: 3.8rem;
}
ul li input, ul li p, ol li input, ol li p, dl dt input, dl dt p, dl dd input, dl dd p {
  display: inline-block;
}
ul li input, ol li input, dl dt input, dl dd input {
  margin-right: 1rem;
}
ul li p, ol li p, dl dt p, dl dd p {
  margin: 0;
}
ul li:has(input[type=checkbox]), ul li:has(input[type=radio]), ol li:has(input[type=checkbox]), ol li:has(input[type=radio]), dl dt:has(input[type=checkbox]), dl dt:has(input[type=radio]), dl dd:has(input[type=checkbox]), dl dd:has(input[type=radio]) {
  list-style: none;
  margin-left: 2.4rem;
}

li dl {
  margin-left: -1.6rem;
}

dl dd {
  margin-left: 5.6rem;
}

/*code*/
pre {
  margin: 1.6rem 0;
  padding: 1.6rem;
  border: 1px solid #d0d0d0;
  background: rgb(238, 238, 238);
  font-size: 1.6rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  overflow: auto;
}

code {
  margin: 1.6rem 0;
  padding: 1.6rem;
  border: 1px solid #d0d0d0;
  background: rgb(238, 238, 238);
  font-size: 1.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  vertical-align: inherit;
}

pre code {
  padding: 0.4rem 1rem;
  border: none;
}

/*sup,sub*/
sup, sub {
  font-size: 1.2rem;
}

/*blockquote*/
blockquote {
  margin: 1.6rem 0;
  padding: 2rem;
  border: 1px solid #d0d0d0;
  background: rgb(238, 238, 238);
  font-size: 1.6rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-left: 0.4rem solid rgb(40, 180, 115);
  border-bottom: none;
  border-top: none;
  border-right: none;
  background-color: rgba(40, 180, 115, 0.06);
  overflow: hidden;
}
blockquote p:first-child {
  margin-top: 0;
}

.iconfont {
  color: #999999;
}
.iconfont:hover {
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(40, 180, 115, 0.75);
}

/*table*/
table {
  width: 100%;
  margin-top: 1.6rem;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
}
table thead {
  background-color: rgb(238, 238, 238);
}
table thead tr th {
  border-top: 1px solid #d9d9d9;
}
table tr th, table tr td {
  padding: 0.8rem 1rem;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
table tr th:first-child, table tr td:first-child {
  border-left: 1px solid #d9d9d9;
}
table tr:first-child th:first-child {
  border-top-left-radius: 0.8rem;
}
table tr:first-child th:last-child {
  border-top-right-radius: 0.8rem;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 0.8rem;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 0.8rem;
}
table tbody tr:nth-child(even) {
  background: rgb(238, 238, 238);
}

/*input checketbox*/
input[type=checkbox] {
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
}
input[type=checkbox]:checked {
  content: "";
  display: inline-block;
  background: rgb(40, 180, 115);
  border-color: transparent;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
input[type=checkbox]:checked:after {
  content: "✓"; /*2713、2714都是勾，一个粗一个细*/
  vertical-align: super;
}

/*input radio*/
input[type=radio] {
  border: 1px solid rgb(40, 180, 115);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
input[type=radio]:checked:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin: 3px auto;
  background: rgb(40, 180, 115);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.body-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

/*left-containe*/
#left-container {
  width: 28rem;
  float: left;
  background: white;
  border-right: 1px solid #d0d0d0;
  padding: 0 0 1.6rem 0;
  z-index: 20;
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  line-height: 2rem;
  overflow: hidden;
}
#left-container a {
  line-height: 2rem;
}

/*right-containe*/
#right-container {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 28rem;
  padding-bottom: 3.2rem;
  overflow: auto;
  box-sizing: border-box;
}

#content {
  width: 100rem;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

/*top-container*/
.top-container {
  width: 100%;
  height: 6.2rem;
  border-bottom: 1px solid #d0d0d0;
  color: #999999;
  padding: 1.6rem 1.2rem 1.6rem 1.6rem;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 25;
  line-height: 3.2rem;
  background: white;
}

.catalog-button {
  font-size: 3rem;
  cursor: pointer;
  float: left;
  margin-right: 1.2rem;
  margin-top: -0.1rem;
}
.catalog-button:hover {
  color: rgb(40, 180, 115);
}

.search-container {
  height: 4rem;
  overflow: hidden;
  padding: 0.4rem;
  margin-top: -0.6rem;
  margin-right: -0.4rem;
  box-sizing: border-box;
}

.search {
  float: left;
}
.search:focus {
  outline: none;
  border-color: rgb(40, 180, 115);
  -webkit-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.16);
  -moz-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.16);
  -o-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.16);
  box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.16);
}
.search::placeholder {
  color: #d0d0d0;
}

.search-icon {
  position: absolute;
  font-size: 2.2rem;
  right: 0.4rem;
  top: 0.4rem;
  cursor: pointer;
  display: none;
  line-height: 2.3rem;
}
.search-icon:hover {
  color: rgb(40, 180, 115);
}

.search-result {
  border: 1px solid #d0d0d0;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  background: white;
  padding: 1.4rem 1.6rem;
  overflow: auto;
  margin-top: 0.2rem;
  margin-right: 0.4rem;
  color: #999999;
  font-size: 1.4rem;
  line-height: 1.2;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(217, 217, 217, 0.6);
  -moz-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(217, 217, 217, 0.6);
  -o-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(217, 217, 217, 0.6);
  box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(217, 217, 217, 0.6);
  position: relative;
  z-index: 40;
}
.search-result a {
  color: #000000;
  cursor: pointer;
  line-height: 1.8rem;
}
.search-result a:hover {
  color: rgb(40, 180, 115) !important;
}

.search-result a,
.search-result i,
.search-result span {
  display: block;
  margin: 0 0 6px 0;
}

.search-result a {
  cursor: pointer;
}

.search-result i {
  text-align: center;
  font-size: 2.6rem;
}

.search-result span {
  text-align: center;
}

/*list-container*/
#list-container {
  width: 100%;
  position: absolute;
  top: 6.2rem;
  left: 0;
  bottom: 4.1rem;
  z-index: 24;
  overflow: auto;
  box-sizing: border-box;
  padding: 1.6rem;
}

.list-wrapper {
  font-size: 1.6rem;
  overflow: hidden;
}
.list-wrapper ul {
  display: block;
  position: relative;
}
.list-wrapper ul:before {
  content: "";
  display: inline-block;
  width: 0.1rem;
  height: 100%;
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  top: -0.5rem;
  left: 0.8rem;
  z-index: 15;
  margin-bottom: 0.8rem;
  background: #d0d0d0;
}
.list-wrapper ul li {
  width: 100%;
  list-style: none;
  margin-left: 0 !important;
  position: relative;
  line-height: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.list-wrapper ul li i {
  float: left;
  margin-top: 0.5rem;
  margin-left: 0.05rem;
  background: white;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  position: relative;
  z-index: 20;
  cursor: pointer;
}

.list-wrapper ul li a {
  display: block;
  position: relative;
  z-index: 18;
  font-weight: normal;
  color: rgb(42, 55, 60);
  padding: 0.5rem 0.6rem;
  margin-bottom: 0.1rem;
  margin-left: 2.2rem;
  box-sizing: border-box;
  line-height: 1 !important;
  background: transparent;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
}
.list-wrapper ul li a:before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 0.1rem;
  position: absolute;
  z-index: 10;
  left: -1.4rem;
  top: 1.2rem;
  background: #d0d0d0;
}
.list-wrapper ul li a div {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 18;
}
.list-wrapper ul li a p {
  float: left;
  margin-right: 0.4rem;
  display: table-cell;
}
.list-wrapper ul li a:hover div {
  white-space: wrap;
}
.list-wrapper ul li a:hover span {
  display: table-cell;
  word-break: break-word;
}

.list-wrapper ul li:hover > a {
  color: rgb(40, 180, 115);
  background: rgb(238, 238, 238);
}
.list-wrapper ul li:hover > a:before {
  width: 1.3rem;
}
.list-wrapper ul li:hover > .iconfont {
  color: rgb(40, 180, 115);
}

.list-wrapper > ul > li:first-child > a:after {
  content: "";
  display: inline-block;
  width: 0.3rem;
  height: 50%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: -1.5rem;
  background: white;
}

.list-wrapper ul li ul {
  margin-left: 2.4rem !important;
  margin-top: 0.1rem;
}
.list-wrapper ul li ul li:first-child:before {
  content: "";
  display: inline-block;
  width: 0.1rem;
  height: 1.4rem;
  position: absolute;
  z-index: 10;
  top: -0.1rem;
  left: 0.8rem;
  background: #d0d0d0;
}
.list-wrapper ul li ul li:last-child:before {
  content: "";
  display: inline-block;
  width: 0.3rem;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 1.3rem;
  left: 0.7rem;
  background: white;
  z-index: 15;
}

/*bottom-container*/
.bottom-container {
  width: 100%;
  height: 4rem;
  position: absolute;
  z-index: 30;
  bottom: 0;
  background: white;
  padding: 0 1.6rem;
  box-sizing: border-box;
  border-top: 1px solid #d0d0d0;
  color: #999999;
}
.bottom-container .mode, .bottom-container .index, .bottom-container .structure {
  float: left;
  margin-right: 2.6rem;
  position: relative;
}
.bottom-container .iconfont {
  font-size: 2rem;
  line-height: 4rem;
}
.bottom-container .iconfont:hover {
  color: rgb(40, 180, 115);
  cursor: pointer;
}
.bottom-container .icon-quit {
  font-size: 2.2rem;
}

.structure:hover .structure-child {
  display: block;
}

.structure-child {
  background: white;
  position: absolute;
  bottom: 4rem;
  left: -5.9rem;
  padding: 1rem 1.5rem 0;
  border: 1px solid #d0d0d0;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: white;
  box-shadow: 0 -0.2rem 0.2rem rgba(217, 217, 217, 0.7);
  -webkit-box-shadow: 0 -0.2rem 0.2rem rgba(217, 217, 217, 0.7);
  -moz-box-shadow: 0 -0.2rem 0.2rem rgba(217, 217, 217, 0.7);
  -o-box-shadow: 0 -0.2rem 0.2rem rgba(217, 217, 217, 0.7);
  box-sizing: border-box;
  overflow: hidden;
}
.structure-child li {
  margin-left: 0 !important;
  padding: 0 1rem;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 0.8rem;
  text-align: left;
  white-space: nowrap;
  position: relative;
  box-sizing: border-box;
}
.structure-child li:hover {
  color: rgb(40, 180, 115);
}
.structure-child li:first-child, .structure-child li:nth-of-type(2) {
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem dashed #d0d0d0;
}
.structure-child li:last-child {
  padding-bottom: 0.8rem;
  margin-bottom: 0;
  border-bottom: 0.1rem dashed #d0d0d0;
}
.structure-child li label {
  font-size: 1.2rem !important;
  vertical-align: bottom;
  cursor: pointer;
}
.structure-child li input[type=radio] {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.2rem !important;
  border: 1px solid rgb(40, 180, 115);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  cursor: pointer;
}
.structure-child li input[type=radio]:checked:after {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.2rem auto;
  background: rgb(40, 180, 115);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

/*switch-button*/
#switch-button {
  position: absolute;
  top: 0;
  left: 1.6rem;
  z-index: 110;
  width: 3rem;
  height: 4rem;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}
#switch-button i {
  display: block;
  position: relative;
  top: 0;
  left: 0.8rem;
  color: rgb(40, 180, 115);
  font-size: 4rem;
  margin-top: 0.6rem;
  margin-left: -1.2rem;
}
#switch-button .icon-label {
  text-shadow: 0 0 0.4rem #999999;
}
#switch-button .icon-catalog-close {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  top: -3.6rem;
  left: 0.65rem;
}
#switch-button:hover .icon-label {
  color: #ff5900;
}

/*scroll style*/
html {
  /*一般用使用方法*/
  /*非webkit内核浏览器*/
  /* 滑块背景色 */
  /* 其余相关样式设置跟滑块一个背景色 */
  /* 隐藏滚动条按钮 */
}
html ::-webkit-scrollbar,
html ::-webkit-scrollbar-thumb {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.4rem;
}
html ::-webkit-scrollbar-thumb {
  background: rgb(220, 220, 220);
}
html ::-webkit-scrollbar,
html ::-webkit-scrollbar-corner,
html ::-webkit-resizer,
html ::-webkit-scrollbar-track,
html ::-webkit-scrollbar-track-piece {
  background: rgba(220, 220, 220, 0.1);
}
html ::-webkit-scrollbar-button {
  display: none;
}

/*dark style*/
html[theme=dark] body {
  text-shadow: 0.075rem 0.075rem 0.075rem rgba(220, 220, 220, 0.1);
}
html[theme=dark] {
  background-color: rgb(22, 27, 31);
  color: rgb(220, 220, 220);
}
html[theme=dark] h1, html[theme=dark] h2, html[theme=dark] h3, html[theme=dark] h4, html[theme=dark] h5, html[theme=dark] h6 {
  color: rgb(220, 220, 220);
}
html[theme=dark] h1 {
  border-bottom: 1px solid rgb(42, 55, 60);
}
html[theme=dark] h1:first-of-type {
  border: none;
}
html[theme=dark] hr {
  background: rgb(42, 55, 60);
}
html[theme=dark] kbd {
  background-color: rgb(52, 82, 115);
}
html[theme=dark] code, html[theme=dark] pre {
  background: rgb(29, 38, 43);
  border-color: rgb(42, 55, 60);
}
html[theme=dark] table {
  width: 100%;
  margin-top: 1.6rem;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
}
html[theme=dark] table thead {
  background-color: rgb(29, 38, 43);
}
html[theme=dark] table thead tr th {
  border-top: 1px solid rgb(42, 55, 60);
}
html[theme=dark] table tr th, html[theme=dark] table tr td {
  padding: 0.8rem 1rem;
  border-right: 1px solid rgb(42, 55, 60);
  border-bottom: 1px solid rgb(42, 55, 60);
}
html[theme=dark] table tr th:first-child, html[theme=dark] table tr td:first-child {
  border-left: 1px solid rgb(42, 55, 60);
}
html[theme=dark] table tr:first-child th:first-child {
  border-top-left-radius: 0.8rem;
}
html[theme=dark] table tr:first-child th:last-child {
  border-top-right-radius: 0.8rem;
}
html[theme=dark] table tr:last-child td:last-child {
  border-bottom-right-radius: 0.8rem;
}
html[theme=dark] table tr:last-child td:first-child {
  border-bottom-left-radius: 0.8rem;
}
html[theme=dark] table tbody tr:nth-child(even) {
  background: rgb(29, 38, 43);
}
html[theme=dark] input {
  background: rgb(32, 45, 50);
  border-color: rgb(42, 55, 60);
  color: rgb(220, 220, 220);
}
html[theme=dark] input::placeholder {
  color: rgb(55, 75, 80);
}
html[theme=dark] .iconfont {
  text-shadow: 0.1rem 0.1rem 0.1rem #202d32;
}
html[theme=dark] .iconfont:hover {
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(40, 180, 115, 0.2);
}
html[theme=dark] #right-container,
html[theme=dark] #left-container,
html[theme=dark] .top-container,
html[theme=dark] .bottom-container {
  background: rgb(22, 27, 31);
  color: rgb(220, 220, 220);
  border-color: rgb(42, 55, 60);
}
html[theme=dark] .list-wrapper .iconfont {
  color: rgb(42, 55, 60);
  background: rgb(22, 27, 31);
}
html[theme=dark] .list-wrapper a {
  color: rgb(220, 220, 220);
}
html[theme=dark] .list-wrapper ul:after, html[theme=dark] .list-wrapper ul:before, html[theme=dark] .list-wrapper li:after, html[theme=dark] .list-wrapper li:before, html[theme=dark] .list-wrapper a:after, html[theme=dark] .list-wrapper a:before {
  background: rgb(42, 55, 60);
}
html[theme=dark] .list-wrapper ul li:hover > a {
  background: rgb(32, 45, 50);
}
html[theme=dark] .list-wrapper ul li ul li:last-child:before, html[theme=dark] .list-wrapper > ul > li:first-child > a:after {
  background: rgb(22, 27, 31);
}
html[theme=dark] .search-result {
  background: rgb(32, 45, 50);
  border-color: rgb(42, 55, 60);
  -webkit-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.15);
  -moz-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.15);
  -o-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.15);
  box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.15);
}
html[theme=dark] .search-result a {
  color: rgb(220, 220, 220);
}
html[theme=dark] .structure-child {
  background: rgb(22, 27, 31);
  border-color: rgb(42, 55, 60);
  border-bottom-color: rgb(22, 27, 31);
  box-shadow: 0 -0.2rem 0.2rem rgba(40, 180, 115, 0.15);
  -webkit-box-shadow: 0 -0.2rem 0.2rem rgba(40, 180, 115, 0.15);
  -moz-box-shadow: 0 -0.2rem 0.2rem rgba(40, 180, 115, 0.15);
  -o-box-shadow: 0 -0.2rem 0.2rem rgba(40, 180, 115, 0.15);
}
html[theme=dark] #switch-button .icon-catalog-close {
  color: rgb(220, 220, 220);
}
html[theme=dark] #switch-button .icon-label {
  text-shadow: 0 0 0.4rem rgba(40, 180, 115, 0.75);
}
html[theme=dark] ::-webkit-scrollbar-thumb {
  background: rgb(42, 55, 60);
}
html[theme=dark] ::-webkit-scrollbar,
html[theme=dark] ::-webkit-scrollbar-corner,
html[theme=dark] ::-webkit-resizer,
html[theme=dark] ::-webkit-scrollbar-track,
html[theme=dark] ::-webkit-scrollbar-track-piece {
  background: rgba(42, 55, 60, 0.1);
}

/*@media*/
@media (prefers-color-scheme: dark) {
  html body {
    text-shadow: 0.075rem 0.075rem 0.075rem rgba(220, 220, 220, 0.1);
  }
  html {
    background-color: rgb(22, 27, 31);
    color: rgb(220, 220, 220);
  }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    color: rgb(220, 220, 220);
  }
  html h1 {
    border-bottom: 1px solid rgb(42, 55, 60);
  }
  html h1:first-of-type {
    border: none;
  }
  html hr {
    background: rgb(42, 55, 60);
  }
  html kbd {
    background-color: rgb(52, 82, 115);
  }
  html code, html pre {
    background: rgb(29, 38, 43);
    border-color: rgb(42, 55, 60);
  }
  html table {
    width: 100%;
    margin-top: 1.6rem;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
  }
  html table thead {
    background-color: rgb(29, 38, 43);
  }
  html table thead tr th {
    border-top: 1px solid rgb(42, 55, 60);
  }
  html table tr th, html table tr td {
    padding: 0.8rem 1rem;
    border-right: 1px solid rgb(42, 55, 60);
    border-bottom: 1px solid rgb(42, 55, 60);
  }
  html table tr th:first-child, html table tr td:first-child {
    border-left: 1px solid rgb(42, 55, 60);
  }
  html table tr:first-child th:first-child {
    border-top-left-radius: 0.8rem;
  }
  html table tr:first-child th:last-child {
    border-top-right-radius: 0.8rem;
  }
  html table tr:last-child td:last-child {
    border-bottom-right-radius: 0.8rem;
  }
  html table tr:last-child td:first-child {
    border-bottom-left-radius: 0.8rem;
  }
  html table tbody tr:nth-child(even) {
    background: rgb(29, 38, 43);
  }
  html input {
    background: rgb(32, 45, 50);
    border-color: rgb(42, 55, 60);
    color: rgb(220, 220, 220);
  }
  html input::placeholder {
    color: rgb(55, 75, 80);
  }
  html .iconfont {
    text-shadow: 0.1rem 0.1rem 0.1rem #202d32;
  }
  html .iconfont:hover {
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(40, 180, 115, 0.2);
  }
  html #right-container,
  html #left-container,
  html .top-container,
  html .bottom-container {
    background: rgb(22, 27, 31);
    color: rgb(220, 220, 220);
    border-color: rgb(42, 55, 60);
  }
  html .list-wrapper .iconfont {
    color: rgb(42, 55, 60);
    background: rgb(22, 27, 31);
  }
  html .list-wrapper a {
    color: rgb(220, 220, 220);
  }
  html .list-wrapper ul:after, html .list-wrapper ul:before, html .list-wrapper li:after, html .list-wrapper li:before, html .list-wrapper a:after, html .list-wrapper a:before {
    background: rgb(42, 55, 60);
  }
  html .list-wrapper ul li:hover > a {
    background: rgb(32, 45, 50);
  }
  html .list-wrapper ul li ul li:last-child:before, html .list-wrapper > ul > li:first-child > a:after {
    background: rgb(22, 27, 31);
  }
  html .search-result {
    background: rgb(32, 45, 50);
    border-color: rgb(42, 55, 60);
    -webkit-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.15);
    -moz-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.15);
    -o-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.15);
    box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(40, 180, 115, 0.15);
  }
  html .search-result a {
    color: rgb(220, 220, 220);
  }
  html .structure-child {
    background: rgb(22, 27, 31);
    border-color: rgb(42, 55, 60);
    border-bottom-color: rgb(22, 27, 31);
    box-shadow: 0 -0.2rem 0.2rem rgba(40, 180, 115, 0.15);
    -webkit-box-shadow: 0 -0.2rem 0.2rem rgba(40, 180, 115, 0.15);
    -moz-box-shadow: 0 -0.2rem 0.2rem rgba(40, 180, 115, 0.15);
    -o-box-shadow: 0 -0.2rem 0.2rem rgba(40, 180, 115, 0.15);
  }
  html #switch-button .icon-catalog-close {
    color: rgb(220, 220, 220);
  }
  html #switch-button .icon-label {
    text-shadow: 0 0 0.4rem rgba(40, 180, 115, 0.75);
  }
  html ::-webkit-scrollbar-thumb {
    background: rgb(42, 55, 60);
  }
  html ::-webkit-scrollbar,
  html ::-webkit-scrollbar-corner,
  html ::-webkit-resizer,
  html ::-webkit-scrollbar-track,
  html ::-webkit-scrollbar-track-piece {
    background: rgba(42, 55, 60, 0.1);
  }
}
@media screen and (max-width: 768px) {
  .body-container {
    height: 100vh;
  }
  #left-container {
    width: 20rem;
  }
  #right-container {
    padding-left: 23rem;
    padding-right: 3rem;
  }
  #right-container {
    padding: 0 3rem 1.4rem;
  }
  #content {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .body-container {
    height: 100vh;
  }
  #left-container {
    width: 20rem;
  }
  #right-container {
    padding-left: 23rem;
    padding-right: 3rem;
  }
  #content {
    width: 100%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .body-container {
    height: 100vh;
  }
  #right-container {
    padding-left: 33rem;
    padding-right: 5rem;
  }
  #content {
    width: 100%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1920px) {
  .body-container {
    height: 100vh;
  }
  #right-container {
    padding-left: 38rem;
    padding-right: 10rem;
    border: none;
  }
  #content {
    width: 100%;
    max-width: 120rem;
  }
}
@media screen and (min-width: 1921px) {
  .body-container {
    width: 178rem;
    height: 100vh;
    margin: auto;
  }
  #left-container {
    border-left-style: solid;
    border-left-width: 0.1rem;
  }
  #right-container {
    padding-left: 38rem;
    padding-right: 10rem;
    border-right-style: solid;
    border-left-style: solid;
    border-left-width: 0.1rem;
  }
  #content {
    width: 120rem;
    margin: auto;
  }
}

/*# sourceMappingURL=index.css.map */
