@import "global";

//root
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Mono","PingFang SC", "PingFang", "Helvetica", "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 62.5%;
  background-color: $body-bg-color;
  color: $text-color;
  height: 100%;
  overflow: hidden;
  letter-spacing: .1rem;
}

body {
  font-size: $size-16;
  line-height: 2.6rem;
  box-sizing: border-box;
}

//标题
h1, h2, h3, h4, h5, h6 {
  margin: 4rem 0 2rem;
  color: $title-color;
  letter-spacing: .2rem;
}

h1 {
  font-size: 3rem;
  padding-bottom: $size-12;
  @include border-bottom($color: $grey-color);

  &:first-of-type {
    border: none;
    padding-bottom: 2rem;
    text-align: center;
  }
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

h5, h6 {
  & + p {
    margin-top: -0.8rem;
  }
}

hr {
  border: none;
  height: .1rem;
  margin: $size-18 0;
  background: $grey-color;
  box-sizing: border-box;
}

::selection {
  background: rgb($green, .75);
  color: $text-color;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: $orange;
  cursor: pointer;

  &:hover {
    color: $green;
  }
}

p {
  margin: $size-18 0 0;
  text-align: justify;
}

p a {
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: $green;
}

u {
  text-decoration-color: $green;
  -moz-text-decoration-color: $green;
}
em{font-weight: 300;}
del {
  color: $text-grey;
  text-decoration: line-through;
  text-decoration-color: $red;
  -moz-text-decoration-color: $red;
}

mark {
  background-color: $green;
  padding: 0.2rem 1rem;
  @include border-radius(0.4rem)
}

kbd {
  display: inline-block;
  line-height: $size-22;
  border: none;
  background: $title-color;
  color: $grey-color;
  border-image: none;
  @include border-radius(.4rem);
  padding: 0 .6rem;
  margin-right: 0.6rem;
  vertical-align: inherit;
  font-size: 1.4rem;

}

img {
  width: 100%;
  @include border-radius();
}

//列表
ul li, ol li, dl dt, dl dd {
  margin-left: 3.8rem;

  input, p {
    display: inline-block;
  }

  input {
    margin-right: $size-10;
  }

  p {
    margin: 0;
  }

  &:has(input[type="checkbox"]), &:has(input[type="radio"]) {
    list-style: none;
    margin-left: 2.4rem;
  }
}

li dl {
  margin-left: -1.6rem;
}

dl dd {
  margin-left: 5.6rem;
}

/*code*/
pre {
  @include code-box();
  @include border-radius();
  overflow: auto;
}

code {
  @include code-box();
  @include border-radius(0.5rem);
  padding: .2rem 1rem;
  vertical-align: inherit;
}

pre code {
  padding: .4rem 1rem;
  border: none;
}

/*sup,sub*/
sup, sub {
  font-size: $size-12;
}

/*blockquote*/
blockquote {
  @include code-box($padding: 2rem, $font-size: $size-16);
  @include border-radius();
  border-left: .4rem solid $green;
  border-bottom: none;
  border-top: none;
  border-right: none;
  background-color: rgb($green, 0.06);
  overflow: hidden;

  p:first-child {
    margin-top: 0;
  }
}

.iconfont {
  color: $text-grey;
  &:hover{
    text-shadow: .1rem .1rem .1rem rgb($green,.75);
  }
}

/*table*/
table {
  @include table-style;
}

/*input checketbox*/
input[type='checkbox'], input[type="radio"] {
  @extend .input-checkebox;
}

input[type='checkbox'] {
  @include border-radius($size: 0.3rem);

  &:checked {
    content: '';
    display: inline-block;
    background: $green;
    border-color: transparent;
    font-size: 1.5rem;
    text-align: left;
    color: white;

    &:after {
      content: '\2713'; /*2713、2714都是勾，一个粗一个细*/
      vertical-align: super;
    }
  }
}

/*input radio*/
input[type='radio'] {
  @include border-default($color: $green);
  @include border-radius($size: 50%);

  &:checked {
    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      margin: 3px auto;
      background: $green;
      @include border-radius($size: 50%);
    }
  }
}

#body-container {
  position: relative;
  width: 100vw;
  margin: auto;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
}

/*left-containe*/
#left-container {
  width: 28rem;
  background: white;
  border-right: 1px solid $border-color;
  z-index: 20;
  position: relative;
  line-height: 2rem;
  overflow: hidden;
  transition: width 0.3s;
  -moz-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  a {
    line-height: 2rem;
  }
}

/*right-containe*/
#right-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}

#content {
  width: 110rem;
  box-sizing: border-box;
  padding: 0 5rem;
  margin: auto;
  overflow-x: hidden;
}

/*top-container*/
.top-container {
  height: 6.2rem;
  border-bottom: 1px solid $border-color;
  color: $text-grey;
  padding: 1.6rem 0 1.6rem 1.6rem;
  margin-right: 0;
  position: relative;
  box-sizing: border-box;
  z-index: 25;
  line-height: 3.2rem;
  background: white;
}

.catalog-button {
  position: absolute;
  z-index: 32;
  font-size: 3rem;
  cursor: pointer;
  float: left;
  margin-right: 1.2rem;
  margin-top: -.2rem;

  &:hover {
    color: $green;
  }
}

.search-container {
  height: 4rem;
  position: absolute;
  overflow: hidden;
  padding: .4rem;
  top: 1rem;
  right: 1.1rem;
  left: 1.2rem;
  box-sizing: border-box;
}

.search {
  @extend .input-text;
  float: right;
  position: relative;
  z-index: 33;
  width: 79%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:focus {
    outline: none;
    width: 100%;
    border-color: $green;
    @include box-shadow-1(rgb($green,.2));
  }

  &::placeholder {
    color: $border-color;
  }
}

.search-icon {
  position: absolute;
  z-index: 35;
  font-size: $size-12;
  right: 1.2rem;
  top: .8rem;
  cursor: pointer;
  display: none;
  line-height: 2.3rem;

  &:hover {
    color: $green;
  }
}

.search-result {
  @include border-default();
  @include border-radius($size: 0.6rem);
  background: white;
  padding: 1.4rem 1.6rem;
  overflow: auto;
  margin-top: 3.4rem;
  margin-right: 1.4rem;
  color: $text-grey;
  font-size: 1.2rem;
  line-height: 1.2;
  box-sizing: border-box;
  @include box-shadow-1(rgb($grey-color,.6));
  position: relative;
  z-index: 40;
  display: none;

  a {
    color: $text-color;
    cursor: pointer;
    line-height: 1.8rem;

    &:hover {
      color: $green !important;
    }
  }
}

.search-result a,
.search-result i,
.search-result span {
  display: block;
  margin: 0 0 6px 0;
}

.search-result a {
  cursor: pointer;
}

.search-result i {
  text-align: center;
  font-size: 2.2rem;
}

.search-result span {
  text-align: left;
}

/*list-container*/
#list-container {
  width: 100%;
  position: absolute;
  top: 6.2rem;
  left: 0;
  bottom: 4.1rem;
  z-index: 24;
  overflow: auto;
  box-sizing: border-box;
  padding: 1.6rem;
  //background: #a4a4a4;
}

.list-wrapper {
  font-size: $size-16;
  overflow: hidden;
  & > div{
    margin-top: 2rem;
    text-align: center;
    color: $text-grey;
    font-size: 1.3rem;
    .iconfont{
      font-size: 2rem;
    }
    p{
      margin-top: .5rem;
    }
  }

  ul {
    display: block;
    position: relative;

    &:before {
      @include pseudo-element($w: .1rem, $h: 100%, $p: absolute);
      box-sizing: border-box;
      //top: 1.3rem;
      top: -.5rem;
      left: .8rem;
      z-index: 15;
      margin-bottom: .8rem;
      background: $border-color;
    }
  }

  ul li {
    width: 100%;
    list-style: none;
    margin-left: 0 !important;
    position: relative;
    line-height: 1;
    box-sizing: border-box;
    overflow: hidden;
  }
}

.list-wrapper ul li i {
  float: left;
  margin-top: .5rem;
  margin-left: .05rem;
  background: white;
  @include border-radius(.3rem);
  position: relative;
  z-index: 20;
  cursor: pointer;
  //display: none;
}

.list-wrapper ul li a {
  display: block;
  position: relative;
  z-index: 18;
  font-weight: normal;
  color: $grey-color-dark;
  padding: .5rem .6rem;
  margin-bottom: .1rem;
  margin-left: 1.8rem;
  box-sizing: border-box;
  line-height: 1 !important;
  background: transparent;
  //background: #0e90d2;
  @include border-radius(.5rem);

  &:before {
    @include pseudo-element($w: 1.4rem, $p: absolute);
    left: -1rem;
    top: 1.2rem;
    background: $border-color;
  }

  div {
    //background: #00cdac;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 18;
  }

  p {
    float: left;
    margin-right: .4rem;
    display: table-cell;
  }

  &:hover {
    div {
      white-space: wrap;
    }
    span {
      display: table-cell;
      word-break: break-word;
    }
  }
}

.list-wrapper ul li:hover {
  & > a {
    color: $green;
    background: $code-bg-color;
    &:before {width: 1.4rem;}
  }
  & > .iconfont {
    color: $green;
  }
}

.list-wrapper > ul > li:first-child > a:after {
  @include pseudo-element($w: .3rem, $h: 1.3rem, $p: absolute);
  top: -.1rem;
  left: -1.1rem;
  background: white;
}
.list-wrapper > ul > li:last-child:after {
  @include pseudo-element($w: .3rem, $h: 100%, $p: absolute);
  top: 1.3rem;
  left: .7rem;
  z-index: 15;
  background: #ffffff;
}
.list-wrapper > ul li:last-child > a:after  {
  @include pseudo-element($w: .3rem, $h:100%,$p: absolute);
  left: -1.5rem;
  top: 1.3rem;
  background: white;
}

.list-wrapper ul li ul {
  margin-left: 2rem !important;
  margin-top: .1rem;

  & li:first-child:before {
    @include pseudo-element($w: .1rem, $h: 1.4rem, $p: absolute);
    top: -.1rem;
    left: .8rem;
    background: $border-color;
  }

  & li:last-child:before {
    @include pseudo-element($w: .3rem, $h: 100%, $p: absolute);
    top: 1.3rem;
    left: .7rem;
    background: white;
    z-index: 15;
  }
}

/*bottom-container*/
.bottom-container {
  width: 100%;
  height: 4rem;
  position: absolute;
  z-index: 30;
  bottom: 0;
  background: white;
  padding: 0 1.6rem;
  box-sizing: border-box;
  border-top: 1px solid $border-color;
  color: $text-grey;

  .mode, .index, .structure, .quit-menu {
    float: left;
    position: relative;
    margin-right: 14%;
  }
  .quit-menu{
    margin-right: 0 !important;
  }

  .iconfont {
    font-size: 2rem;
    line-height: 4rem;

    &:hover {
      color: $green;
      cursor: pointer;
    }
  }

  .icon-quit {
    font-size: 2.2rem;
  }
}

.structure:hover {
  .structure-child {
    display: block;
  }
}


.structure-child {
  background: white;
  position: absolute;
  bottom: 4rem;
  left: -5.9rem;
  padding: 1rem 1.5rem 0;
  @include border-default();
  @include border-radius($size: 0.6rem);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: white;
  @include box-shadow-2(rgb($grey-color, .7));
  box-sizing: border-box;
  overflow: hidden;
  display: none;
  li {
    margin-left: 0 !important;
    padding: 0 1rem;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: .8rem;
    text-align: left;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;

    &:hover {
      color: $green;
    }
    &:first-child,&:nth-of-type(2){
      padding-bottom: .8rem;
      border-bottom:.1rem dashed $border-color;
      label{
        margin-left: -.8rem;
      }
    }
    &:last-child{
      padding-bottom: .8rem;
      margin-bottom: 0;
      border-bottom:.1rem dashed $border-color;
    }

  }

  li label {
    font-size: 1.2rem !important;
    vertical-align: bottom;
    cursor: pointer;
  }

  li input[type='radio'] {
    width: $size-12;
    height: $size-12;
    @include border-default($color: $green);
    @include border-radius($size: 50%);
    cursor: pointer;

    &:checked {
      &:after {
        content: '';
        display: block;
        width: .6rem;
        height: .6rem;
        margin: .2rem auto;
        background: $green;
        @include border-radius($size: 50%);
      }
    }
  }
}

/*switch-button*/
#switch-button {
  position: absolute;
  z-index: 110;
  width: 3.4rem;
  height: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  transition: height 0.2s;
  -moz-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -o-transition: height 0.2s;

  i {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -.4rem;
    left: -.2rem;
    color: $green;
    font-size: 4rem;
    margin-top: 1rem;
  }

  .icon-label {
    text-shadow: 0 0 .3rem $green;
  }

  .icon-catalog-close {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    top: -1rem;
    padding-top: .2rem;
    left: 0;
    text-shadow: none;
  }

  &:hover .icon-label {
    color: $orange;
  }
}
//note-tips
.note-tips{
  line-height: 2rem;
  font-size: 1.3rem;
  padding: 1.6rem 0;
  border-top: .1rem solid $border-color;
  color: $border-color;
}

/*scroll style*/
html {
  /*一般用使用方法*/
  //scrollbar-color: $text-dark rgb($text-dark, 0.1);
  //scrollbar-color: $red rgb(red, 0.1);
  //scrollbar-width: thin;
  @include custom-scroll();
}

/*dark style*/
html[theme=dark] {
  @include theme-dark;
}
/*@media*/
@media screen and (max-width: 768px) {
  #left-container {
    width: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
  }
  #content {
    width:100%;
    padding: 0 3rem;
  }
  #switch-button{
    height: 4rem;
  }
  .search {
    width: 75%;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  #left-container {
    width: 24rem;
  }
  #content {
    width:100%;
    padding: 0 3rem;
  }
  .search {
    width: 75%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {

  #content {
    width: 100%;
    padding: 0 4rem;
  }

}

@media screen and (min-width: 1201px) and (max-width: 1920px) {
  #right-container {
    border: none;
  }
  #content {
    width:100%;
    max-width: 120rem;
    padding:0 5rem;
  }
}

@media screen and (min-width: 1921px) {
  #body-container {
    width: 178rem;
    margin: auto;
  }
  #left-container {
    border-left-style: solid;
    border-left-width: .1rem;
  }
  #right-container {
    border-right-style: solid;
    border-left-style: solid;
    border-left-width: .1rem;
  }
  #content {
    width:100%;
    max-width: 120rem;
    padding: 0 5rem;
  }
}
