@charset "UTF-8";
/* ALI-ICONFONT*/
@font-face {
  font-family: "iconfont"; /* Project id 4571070 */
  src: url("../ali-iconfont-2/iconfont.woff2?t=1717407125272") format("woff2"), url("../ali-iconfont-2/iconfont.woff?t=1717407125272") format("woff"), url("../ali-iconfont-2/iconfont.ttf?t=1717407125272") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fail:before {
  content: "\e64e";
}

.icon-launchC:before {
  content: "\e731";
}

.icon-retractA:before {
  content: "\e747";
}

.icon-branchB:before {
  content: "\e618";
}

.icon-branch:before {
  content: "\e6a5";
}

.icon-catalog-closeB:before {
  content: "\e62f";
}

.icon-label:before {
  content: "\e77e";
}

.icon-quit:before {
  content: "\e652";
}

.icon-launchB:before {
  content: "\e60f";
}

.icon-retractB:before {
  content: "\e74b";
}

.icon-retractC:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e62b";
}

.icon-close:before {
  content: "\e624";
}

.icon-noindex:before {
  content: "\e643";
}

.icon-catalog-close:before {
  content: "\e613";
}

.icon-sun:before {
  content: "\e603";
}

.icon-style:before {
  content: "\e62e";
}

.icon-moon:before {
  content: "\e60c";
}

.icon-menu-index:before {
  content: "\e62a";
}

.icon-catalog-show:before {
  content: "\e65a";
}

.icon-launchA:before {
  content: "\e748";
}

/*colors*/
/*size*/
/*border*/
/*border-radius*/
/*code style*/
/*table style*/
/*after/before content style*/
/*  Custom input placeholder*/
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: #999999;
}

/*  Custom input placeholder*/
input::-webkit-input-placeholder { /* WebKit browsers */
  color: #999999;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999999;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999999;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #999999;
}

/*  Custom Scroll*/
.text-center {
  text-align: center;
}

.error {
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  padding: 1.6rem;
  background: rgba(208, 1, 1, 0.5);
}

/*input checkbox no-style*/
.input-checkebox, input[type=checkbox], input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  content: "";
  display: inline-block;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fdfdfd;
  border: 1px solid rgb(39, 56, 75);
  vertical-align: middle;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.3rem;
  margin-right: 1rem;
  box-sizing: border-box;
}

/*input text no-style*/
.input-text, .search {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #d3d3d3;
  padding: 0 0.6rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  box-sizing: border-box;
  outline: none;
}

.js-level1-style {
  border-bottom: 1px solid #d9d9d9;
}

.js-search {
  border: 1px solid #d3d3d3;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  max-height: 60vh !important;
  box-shadow: 0 0 0.2rem 0.1rem rgba(217, 217, 217, 0.6);
  -webkit-box-shadow: 0 0 0.2rem 0.1rem rgba(217, 217, 217, 0.6);
  -moz-box-shadow: 0 0 0.2rem 0.1rem rgba(217, 217, 217, 0.6);
  -o-box-shadow: 0 0 0.2rem 0.1rem rgba(217, 217, 217, 0.6);
  background: #fdfdfd;
}
.js-search > nav {
  max-height: 60vh;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scrollbar-width: none;
  -webkit-scrollbar: none;
}
.js-search a {
  color: #000000 !important;
}
.js-search i {
  color: #999999 !important;
}

#right-container .js-show h1 > span,
#right-container .js-show h2 > span,
#right-container .js-show h3 > span,
#right-container .js-show h4 > span,
#right-container .js-show h5 > span,
#right-container .js-show h6 > span {
  display: block !important;
}

.list-wrapper .js-close {
  display: none;
}

.js-width-0 {
  width: 0 !important;
}

.js-height-0 {
  height: 0 !important;
}

.js-height-1 {
  height: 4rem !important;
}

.js-noindex ul li a p {
  display: none !important;
}

#list-container .js-retract > ul > li ul {
  display: none;
}

#list-container .js-launch > ul > li ul {
  display: block;
}

#list-container .list-wrapper .js-item-retract > ul,
#list-container .list-wrapper .js-item-retract > ul {
  display: none;
}

#list-container .list-wrapper .js-item-launch > ul,
#list-container .list-wrapper .js-item-launch > ul {
  display: block;
}

#list-container .js-active > a,
.search-result .js-active {
  color: rgb(2, 189, 102) !important;
  background: #eeeeee !important;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
}
#list-container .js-active > a:before,
.search-result .js-active:before {
  width: 1.2rem;
}

.search-result .search-click {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  color: #ff6d0d !important;
  background: #eeeeee;
}

#list-container .js-active > .iconfont {
  color: rgb(2, 189, 102) !important;
}

.js-show-shadow,
.js-show-shadow .iconfont {
  text-shadow: 0.05rem 0.1rem 0.12rem rgba(211, 211, 211, 0.75);
}

.js-close-shadow,
.js-close-shadow .iconfont {
  text-shadow: none;
}

.js-show-tree .list-wrapper ul:before, .js-show-tree .list-wrapper ul li:before, .js-show-tree .list-wrapper ul li a:before, .js-show-tree .list-wrapper ul:after, .js-show-tree .list-wrapper ul li:after, .js-show-tree .list-wrapper ul li a:after {
  display: block !important;
}

.js-close-tree .list-wrapper ul:before, .js-close-tree .list-wrapper ul li:before, .js-close-tree .list-wrapper ul li a:before, .js-close-tree .list-wrapper ul:after, .js-close-tree .list-wrapper ul li:after, .js-close-tree .list-wrapper ul li a:after {
  display: none !important;
}
.js-close-tree .list-wrapper ul li a {
  margin-left: 1.7rem;
}

/*theme dark style*/
/*hljs-style*/
pre code.hljs {
  overflow-x: auto;
}

code.hljs {
  color: #284567;
  padding: 0;
  background: transparent;
}

.hljs {
  background: transparent;
}

.hljs-comment {
  color: #778c9d;
}

.hljs-punctuation, .hljs-tag {
  color: #4ad3f8;
}

.hljs-tag .hljs-attr, .hljs-tag .hljs-name {
  color: #fa5a5a;
}

.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-name, .hljs-selector-tag {
  color: #3cb2fc;
  font-weight: 700;
}

.hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
  color: rgb(2, 189, 102);
}

.hljs-section, .hljs-title {
  color: #af66ef;
  font-weight: 700;
}

.hljs-link, .hljs-operator, .hljs-regexp, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-symbol, .hljs-template-variable, .hljs-variable {
  color: #ff5c6d;
}

.hljs-literal {
  color: #0d50cc;
}

.hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
  color: #ff6d0d;
}

.hljs-meta {
  color: #ae42f3;
}

.hljs-meta .hljs-string {
  color: #32b1e1;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Mono", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 62.5%;
  background-color: #fdfdfd;
  color: #000000;
  height: 100%;
  overflow: hidden;
  letter-spacing: 0.1rem;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 3.6rem 0 1.8rem;
  color: rgb(39, 56, 75);
  letter-spacing: 0.2rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

h5 + p, h6 + p {
  margin-top: -0.8rem;
}

hr {
  border: none;
  height: 0.1rem;
  margin: 1.8rem 0;
  background: #d9d9d9;
  box-sizing: border-box;
}

::selection {
  background: rgba(255, 109, 13, 0.5);
  color: #000000;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: #ff6d0d;
  cursor: pointer;
}
a:hover {
  color: rgb(2, 189, 102);
}

p {
  margin: 1.8rem 0 0;
}

p a {
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: rgb(2, 189, 102);
}

u {
  text-decoration-color: rgb(39, 56, 75);
  -moz-text-decoration-color: rgb(39, 56, 75);
}

em {
  font-weight: 300;
}

del {
  color: #999999;
  text-decoration: line-through;
  text-decoration-color: #d00101;
  -moz-text-decoration-color: #d00101;
}

sup, sub {
  cursor: pointer;
}
sup:hover, sub:hover {
  color: rgb(2, 189, 102);
}

mark {
  background-color: rgb(2, 189, 102);
  padding: 0.2rem 1rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
}

kbd {
  display: inline-block;
  line-height: 2.2rem;
  border: none;
  background: rgb(39, 56, 75);
  color: #d9d9d9;
  border-image: none;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  padding: 0 0.6rem;
  margin-right: 0.6rem;
  vertical-align: text-top;
  font-size: 1.4rem;
}

img {
  width: 100%;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
}

ul li, ol li, dl dt, dl dd {
  margin-left: 3.8rem;
}
ul li input, ul li p, ol li input, ol li p, dl dt input, dl dt p, dl dd input, dl dd p {
  display: inline-block;
}
ul li input, ol li input, dl dt input, dl dd input {
  margin-right: 1rem;
}
ul li p, ol li p, dl dt p, dl dd p {
  margin: 0;
}
ul li:has(input[type=checkbox]), ul li:has(input[type=radio]), ol li:has(input[type=checkbox]), ol li:has(input[type=radio]), dl dt:has(input[type=checkbox]), dl dt:has(input[type=radio]), dl dd:has(input[type=checkbox]), dl dd:has(input[type=radio]) {
  list-style: none;
  margin-left: 2.4rem;
}

li dl {
  margin-left: -1.6rem;
}

dl dd {
  margin-left: 5.6rem;
}

#content ul li,
#content ol li,
#content dl dt,
#content dl dd {
  margin-top: 0.5rem;
}

/*code*/
pre {
  margin: 1rem 0;
  padding: 1.8rem;
  border: 1px solid rgba(211, 211, 211, 0.5);
  background: #eeeeee;
  font-size: 1.4rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  overflow: auto;
}

code {
  margin: 1rem 0;
  padding: 1.8rem;
  border: 1px solid rgba(211, 211, 211, 0.5);
  background: #eeeeee;
  font-size: 1.4rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  line-height: 1.8;
  vertical-align: text-top;
  color: #284567;
}

pre code {
  padding: 0.5rem 1rem;
  border: none;
  vertical-align: bottom;
}

p code {
  line-height: 1.5;
}

/*sup,sub*/
sup, sub {
  font-size: 1.2rem;
}

/*blockquote*/
blockquote {
  margin: 1rem 0;
  padding: 2rem;
  border: 1px solid rgba(211, 211, 211, 0.5);
  background: #eeeeee;
  font-size: 1.6rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-left: 0.5rem solid rgb(2, 189, 102);
  border-bottom: none;
  border-top: none;
  border-right: none;
  background-color: rgba(165, 187, 192, 0.16);
  overflow: hidden;
}
blockquote p:first-child {
  margin-top: 0;
}

.iconfont {
  color: #999999;
}
.iconfont:hover {
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(2, 189, 102, 0.75);
}

/*table*/
table {
  width: 100%;
  margin-top: 1.6rem;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.8rem;
  overflow: hidden;
}
table thead tr th {
  border-top: 1px solid #d9d9d9;
}
table tr th, table tr td {
  padding: 0.8rem 1rem;
  border-right: 1px solid #d9d9d9;
}
table tr th:first-child, table tr td:first-child {
  border-left: 1px solid #d9d9d9;
}
table tr:first-child th:first-child {
  border-top-left-radius: 0.8rem;
  background: #eeeeee;
}
table tr:first-child th:last-child {
  border-top-right-radius: 0.8rem;
  background: #eeeeee;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 0.8rem;
  border-bottom: 1px solid #d9d9d9;
  background: #eeeeee;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 0.8rem;
  border-bottom: 1px solid #d9d9d9;
  background: #eeeeee;
}
table tbody tr:nth-child(even) {
  background: #eeeeee;
}

/*input checketbox*/
input[type=checkbox] {
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
}
input[type=checkbox]:checked {
  content: "";
  display: inline-block;
  background: rgb(2, 189, 102);
  border-color: transparent;
  font-size: 1.3rem;
  text-align: center;
  color: #fdfdfd;
}
input[type=checkbox]:checked:after {
  content: "✓"; /*2713、2714都是勾，一个粗一个细*/
  vertical-align: text-top;
}

/*input radio*/
input[type=radio] {
  border: 1px solid rgb(2, 189, 102);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
input[type=radio]:checked:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin: 3px auto;
  background: rgb(2, 189, 102);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

#body-container {
  position: relative;
  width: 100vw;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

/*left-containe*/
#left-container {
  width: 28rem;
  background: #fdfdfd;
  border-right: 1px solid #d3d3d3;
  z-index: 20;
  position: relative;
  line-height: 2rem;
  overflow: hidden;
  transition: width 0.2s linear, height 0.2s linear;
  -moz-transition: width 0.2s linear, height 0.2s linear;
  -webkit-transition: width 0.2s linear, height 0.2s linear;
  -o-transition: width 0.2s linear, height 0.2s linear;
}
#left-container a {
  line-height: 2rem;
}

/*right-containe*/
#right-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 0 7rem;
  box-sizing: border-box;
}

#content {
  width: 110rem;
  box-sizing: border-box;
  margin: auto;
  overflow-x: hidden;
  transition: scroll 0.3s linear;
  -moz-transition: scroll 0.3s linear;
  -webkit-transition: scroll 0.3s linear;
  -o-transition: scroll 0.3s linear;
}
#content h1 > span, #content h2 > span, #content h3 > span, #content h4 > span, #content h5 > span, #content h6 > span {
  float: left;
  margin-right: 1rem;
  display: none;
}

/*top-container*/
.top-container {
  height: 6.2rem;
  border-bottom: 1px solid #d3d3d3;
  color: #999999;
  padding: 1.6rem 0 1.6rem 1.6rem;
  margin-right: 0;
  position: relative;
  box-sizing: border-box;
  z-index: 25;
  line-height: 3.2rem;
  background: #fdfdfd;
}

.catalog-button {
  position: absolute;
  z-index: 32;
  font-size: 3rem;
  cursor: pointer;
  float: left;
}
.catalog-button:hover {
  color: rgb(2, 189, 102) !important;
}

.search-container {
  height: 4rem;
  position: absolute;
  overflow: hidden;
  padding: 0.4rem;
  top: 1.1rem;
  right: 1.1rem;
  left: 1.2rem;
  box-sizing: border-box;
}

.search {
  float: right;
  position: relative;
  z-index: 33;
  width: 80%;
  overflow: hidden;
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: width 0.1s linear;
  -moz-transition: width 0.1s linear;
  -webkit-transition: width 0.1s linear;
  -o-transition: width 0.1s linear;
}
.search:focus {
  outline: none;
  width: 100%;
  border-color: rgb(2, 189, 102);
  box-shadow: 0 0 0.2rem 0.1rem rgba(2, 189, 102, 0.2);
  -webkit-box-shadow: 0 0 0.2rem 0.1rem rgba(2, 189, 102, 0.2);
  -moz-box-shadow: 0 0 0.2rem 0.1rem rgba(2, 189, 102, 0.2);
  -o-box-shadow: 0 0 0.2rem 0.1rem rgba(2, 189, 102, 0.2);
}
.search::placeholder {
  color: #999999;
}

.search-icon {
  position: absolute;
  z-index: 35;
  font-size: 1.2rem;
  right: 0.7rem;
  top: 0.85rem;
  padding: 0 0.5rem;
  background: #fdfdfd;
  cursor: pointer;
  display: none;
  line-height: 2.3rem;
}
.search-icon:hover {
  color: rgb(2, 189, 102);
}

.search-result {
  max-height: 0;
  overflow: hidden;
  margin-top: 3.7rem;
  margin-right: 1.4rem;
  background: #fdfdfd;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #999999;
  box-sizing: border-box;
  position: relative;
  z-index: 40;
  transition: max-height 0.2s linear;
  -moz-transition: max-height 0.2s linear;
  -webkit-transition: max-height 0.2s linear;
  -o-transition: max-height 0.2s linear;
}
.search-result > nav {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}
.search-result > nav a {
  display: block;
  color: #fdfdfd;
  margin-bottom: 0.25rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  word-break: break-word;
}
.search-result > nav a:hover {
  cursor: pointer;
  color: rgb(2, 189, 102) !important;
  background: #eeeeee;
}
.search-result > nav > div {
  height: auto;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}
.search-result > nav > div i {
  display: block;
  color: #fdfdfd;
  text-align: center;
  font-size: 2.2rem;
  margin-top: 3.6rem;
  margin-bottom: 1rem;
}
.search-result > nav > div i:hover {
  text-shadow: none;
}
.search-result > nav > div span {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.search-result > nav > div span:first-of-type {
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
}
.search-result > nav > div span:last-child {
  margin-bottom: 3.6rem;
}

/*list-container*/
#list-container {
  width: 100%;
  position: absolute;
  top: 6.2rem;
  left: 0;
  bottom: 4.1rem;
  z-index: 24;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 1.6rem 1.6rem;
}

.list-wrapper {
  font-size: 1.6rem;
  position: relative;
  margin-top: 1.6rem;
}
.list-wrapper .empty-catalog {
  margin-top: 2rem;
  text-align: center;
  color: #999999;
  font-size: 1.3rem;
}
.list-wrapper .empty-catalog .iconfont {
  font-size: 2rem;
}
.list-wrapper .empty-catalog p {
  margin-top: 0.5rem;
  text-align: left;
}
.list-wrapper ul {
  display: block;
  position: relative;
}
.list-wrapper ul:before {
  content: "";
  display: inline-block;
  width: 0.1rem;
  height: 100%;
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  top: -0.6rem;
  left: 0.8rem;
  z-index: 15;
  margin-bottom: 0.8rem;
  background: #d3d3d3;
}
.list-wrapper ul li {
  width: 100%;
  list-style: none;
  margin-left: 0 !important;
  position: relative;
  line-height: 1.1 !important;
  box-sizing: border-box;
}

.list-wrapper ul li i {
  float: left;
  font-size: 1.4rem;
  margin-top: 0.6rem;
  margin-left: 0.15rem;
  background: #fdfdfd;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  position: relative;
  z-index: 20;
  cursor: pointer;
}

.list-wrapper ul li a {
  display: block;
  position: relative;
  z-index: 18;
  font-weight: normal;
  color: rgb(52, 65, 72);
  padding: 0.5rem 0.6rem;
  margin-bottom: 0.25rem;
  margin-left: 2rem;
  box-sizing: border-box;
  line-height: 1.1 !important;
  background: transparent;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
}
.list-wrapper ul li a:before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 0.1rem;
  position: absolute;
  z-index: 10;
  left: -1.2rem;
  margin-right: 0.2rem;
  top: 1.34rem;
  background: #d3d3d3;
}
.list-wrapper ul li a div {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 18;
}
.list-wrapper ul li a p {
  float: left;
  margin-right: 0.2rem;
  display: table-cell;
}
.list-wrapper ul li a:hover:before {
  width: 1.2rem !important;
}
.list-wrapper ul li a:hover div {
  white-space: wrap;
}
.list-wrapper ul li a:hover span {
  display: table-cell;
  word-break: break-word;
}

.list-wrapper ul li:hover > a {
  color: rgb(2, 189, 102);
  background: #eeeeee;
}
.list-wrapper ul li:hover > a:before {
  width: 1.4rem;
}
.list-wrapper ul li:hover > .iconfont {
  color: rgb(2, 189, 102);
}

.list-wrapper > ul > li:last-child:after {
  content: "";
  display: inline-block;
  width: 0.3rem;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 1.34rem;
  left: 0.7rem;
  z-index: 15;
  background: #fdfdfd;
}

.list-wrapper > ul li:last-child > a:after {
  content: "";
  display: inline-block;
  width: 0.3rem;
  height: 100%;
  position: absolute;
  z-index: 10;
  left: -1.3rem;
  top: 1.44rem;
  background: #fdfdfd;
}

.list-wrapper > ul > li:first-child > a:after {
  content: "";
  display: inline-block;
  width: 0.3rem;
  height: 2rem;
  position: absolute;
  z-index: 10;
  left: -1.3rem;
  top: -0.65rem;
  background: #fdfdfd;
}

.list-wrapper ul li ul {
  margin-left: 2.2rem !important;
  margin-top: 0.24rem;
}
.list-wrapper ul li ul li:last-child:before {
  content: "";
  display: inline-block;
  width: 0.3rem;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 1.45rem;
  left: 0.7rem;
  background: #fdfdfd;
  z-index: 15;
}

/*bottom-container*/
.bottom-container {
  width: 100%;
  height: 4rem;
  position: absolute;
  z-index: 30;
  bottom: 0;
  background: #fdfdfd;
  padding: 0 1.6rem;
  box-sizing: border-box;
  border-top: 1px solid #d3d3d3;
  color: #999999;
}
.bottom-container .mode, .bottom-container .index, .bottom-container .structure, .bottom-container .quit-menu {
  float: left;
  position: relative;
  margin-right: 14%;
  z-index: 40;
}
.bottom-container .quit-menu {
  margin-right: 0 !important;
}
.bottom-container .iconfont {
  font-size: 2rem;
  line-height: 4rem;
}
.bottom-container .iconfont:hover {
  color: rgb(2, 189, 102);
  cursor: pointer;
}
.bottom-container .icon-quit {
  font-size: 2.2rem;
}

.structure:hover .structure-child {
  height: 20.8rem;
  bottom: 4rem;
  padding: 1rem 1.5rem 0;
  border: 1px solid #d3d3d3;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #fdfdfd;
  box-shadow: 0 -0.2rem 0.1rem rgba(217, 217, 217, 0.7);
  -webkit-box-shadow: 0 -0.2rem 0.1rem rgba(217, 217, 217, 0.7);
  -moz-box-shadow: 0 -0.2rem 0.1rem rgba(217, 217, 217, 0.7);
  -o-box-shadow: 0 -0.2rem 0.1rem rgba(217, 217, 217, 0.7);
}

.structure-child {
  height: 0;
  background: #fdfdfd;
  position: absolute;
  z-index: 30;
  bottom: 4rem;
  left: -5.2rem;
  box-sizing: border-box;
  overflow: hidden;
  transition: height 0.1s linear;
  -moz-transition: height 0.1s linear;
  -webkit-transition: height 0.1s linear;
  -o-transition: height 0.1s linear;
}
.structure-child li {
  margin-left: 0 !important;
  padding: 0 1rem;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 0.8rem;
  text-align: left;
  white-space: nowrap;
  position: relative;
  box-sizing: border-box;
}
.structure-child li:hover {
  color: rgb(2, 189, 102);
}
.structure-child li:first-child, .structure-child li:nth-of-type(1), .structure-child li:nth-of-type(2), .structure-child li:nth-of-type(3) {
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem dashed #d3d3d3;
}
.structure-child li:first-child label, .structure-child li:nth-of-type(1) label, .structure-child li:nth-of-type(2) label, .structure-child li:nth-of-type(3) label {
  margin-left: -0.8rem;
}
.structure-child li:last-child {
  padding-bottom: 0.8rem;
  margin-bottom: 0;
  border-bottom: 0.1rem dashed #d3d3d3;
}
.structure-child li label {
  font-size: 1.2rem !important;
  vertical-align: bottom;
  cursor: pointer;
}
.structure-child li input[type=radio] {
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid rgb(2, 189, 102);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  cursor: pointer;
}
.structure-child li input[type=radio]:checked:after {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.2rem auto;
  background: rgb(2, 189, 102);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

/*switch-button*/
#switch-button {
  position: absolute;
  z-index: 110;
  width: 3.4rem;
  height: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  transition: height 0.2s linear;
  -moz-transition: height 0.2s linear;
  -webkit-transition: height 0.2s linear;
  -o-transition: height 0.2s linear;
}
#switch-button i {
  display: block;
  position: absolute;
  color: rgb(2, 189, 102);
  font-size: 4rem;
}
#switch-button .icon-label {
  top: -1.3rem;
  left: -0.2rem;
  text-shadow: 0 0 0.3rem rgba(184, 204, 208, 0.75);
}
#switch-button .icon-catalog-close {
  top: 0.2rem;
  left: 0.85rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fdfdfd;
  text-shadow: none;
}
#switch-button:hover .icon-label {
  color: #ff6d0d;
}

#content > footer {
  width: 100%;
  margin-top: 10rem;
  box-sizing: border-box;
}

.note-tips {
  font-size: 1.2rem;
  padding: 1.6rem 0;
  border-top: 0.1rem solid #d3d3d3;
  color: #999999;
  margin: 0;
}

/*scroll style*/
html {
  /*非webkit内核浏览器*/
  scrollbar-color: rgba(217, 217, 217, 0.8) rgba(217, 217, 217, 0.15);
  scrollbar-width: thin;
  /* 滑块背景色 */
  /* 其余相关样式设置跟滑块一个背景色 */
  /* 隐藏滚动条按钮 */
}
html ::-webkit-scrollbar,
html ::-webkit-scrollbar-thumb {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.4rem;
}
html ::-webkit-scrollbar-thumb {
  background: rgba(217, 217, 217, 0.8);
}
html ::-webkit-scrollbar,
html ::-webkit-scrollbar-corner,
html ::-webkit-resizer,
html ::-webkit-scrollbar-track,
html ::-webkit-scrollbar-track-piece {
  background: rgba(217, 217, 217, 0.15);
}
html ::-webkit-scrollbar-button {
  display: none;
}

/*dark style*/
html[theme=dark] {
  /*非webkit内核浏览器*/
  scrollbar-color: rgba(52, 65, 72, 0.8) rgba(52, 65, 72, 0.1);
}
html[theme=dark] .js-close-shadow,
html[theme=dark] .js-close-shadow .iconfont {
  text-shadow: none;
}
html[theme=dark] .js-show-shadow,
html[theme=dark] .js-show-shadow .iconfont {
  text-shadow: 0.2rem 0.2rem 0.2rem #000000;
}
html[theme=dark] .search-result .search-click {
  color: #ff6d0d !important;
  background: rgb(52, 65, 72);
}
html[theme=dark] .js-active > a {
  background: rgb(52, 65, 72) !important;
}
html[theme=dark] #list-container .js-active > a,
html[theme=dark] .search-result .js-active {
  background: rgb(41, 55, 61) !important;
}
html[theme=dark] {
  background-color: rgb(22, 27, 32);
  color: rgb(196, 196, 196);
}
html[theme=dark] ::selection {
  color: rgb(196, 196, 196);
  text-shadow: none;
}
html[theme=dark] h1, html[theme=dark] h2, html[theme=dark] h3, html[theme=dark] h4, html[theme=dark] h5, html[theme=dark] h6 {
  color: rgb(196, 196, 196);
}
html[theme=dark] .js-level1-style {
  border-bottom: 1px solid rgb(52, 65, 72);
}
html[theme=dark] hr {
  background: rgb(52, 65, 72);
}
html[theme=dark] u {
  text-decoration-color: rgb(196, 196, 196);
  -moz-text-decoration-color: rgb(196, 196, 196);
}
html[theme=dark] kbd {
  background-color: rgb(48, 78, 112);
}
html[theme=dark] code, html[theme=dark] pre {
  background: rgba(184, 204, 208, 0.12);
  border-color: rgb(52, 65, 72);
}
html[theme=dark] table {
  width: 100%;
  margin-top: 1.6rem;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.8rem;
  overflow: hidden;
}
html[theme=dark] table thead tr th {
  border-top: 1px solid rgb(52, 65, 72);
}
html[theme=dark] table tr th, html[theme=dark] table tr td {
  padding: 0.8rem 1rem;
  border-right: 1px solid rgb(52, 65, 72);
}
html[theme=dark] table tr th:first-child, html[theme=dark] table tr td:first-child {
  border-left: 1px solid rgb(52, 65, 72);
}
html[theme=dark] table tr:first-child th:first-child {
  border-top-left-radius: 0.8rem;
  background: rgba(184, 204, 208, 0.12);
}
html[theme=dark] table tr:first-child th:last-child {
  border-top-right-radius: 0.8rem;
  background: rgba(184, 204, 208, 0.12);
}
html[theme=dark] table tr:last-child td:last-child {
  border-bottom-right-radius: 0.8rem;
  border-bottom: 1px solid rgb(52, 65, 72);
  background: rgba(184, 204, 208, 0.12);
}
html[theme=dark] table tr:last-child td:first-child {
  border-bottom-left-radius: 0.8rem;
  border-bottom: 1px solid rgb(52, 65, 72);
  background: rgba(184, 204, 208, 0.12);
}
html[theme=dark] table tbody tr:nth-child(even) {
  background: rgba(184, 204, 208, 0.12);
}
html[theme=dark] input {
  background: rgb(41, 55, 61);
  border-color: rgb(52, 65, 72);
  color: rgb(196, 196, 196);
}
html[theme=dark] input::placeholder {
  color: #999999;
}
html[theme=dark] .iconfont {
  color: rgb(52, 65, 72);
  text-shadow: 0.1rem 0.1rem 0.1rem #29373d;
}
html[theme=dark] .iconfont:hover {
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(2, 189, 102, 0.2);
}
html[theme=dark] .note-tips {
  border-color: rgb(46, 62, 66);
  color: rgb(46, 62, 66);
}
html[theme=dark] #right-container,
html[theme=dark] #left-container,
html[theme=dark] .top-container,
html[theme=dark] .bottom-container {
  background: rgb(22, 27, 32);
  color: rgb(196, 196, 196);
  border-color: rgb(52, 65, 72);
}
html[theme=dark] .list-wrapper .iconfont {
  color: rgb(46, 62, 66);
  background: rgb(22, 27, 32);
}
html[theme=dark] .list-wrapper a {
  color: rgb(196, 196, 196);
}
html[theme=dark] .list-wrapper ul:after, html[theme=dark] .list-wrapper ul:before, html[theme=dark] .list-wrapper li:after, html[theme=dark] .list-wrapper li:before, html[theme=dark] .list-wrapper a:after, html[theme=dark] .list-wrapper a:before {
  background: rgb(52, 65, 72);
}
html[theme=dark] .list-wrapper ul li:hover > a {
  background: rgb(41, 55, 61);
}
html[theme=dark] .list-wrapper ul li ul li:last-child:before, html[theme=dark] .list-wrapper > ul > li:first-child > a:after, html[theme=dark] .list-wrapper > ul li:last-child > a:after, html[theme=dark] .list-wrapper > ul > li:last-child:after, html[theme=dark] .list-wrapper > ul > li:last-child > a:after {
  background: rgb(22, 27, 32);
}
html[theme=dark] .search::placeholder {
  color: rgba(196, 196, 196, 0.4);
}
html[theme=dark] .search-result {
  background: rgb(41, 55, 61);
  border-color: rgb(52, 65, 72);
  background: rgb(41, 55, 61) !important;
}
html[theme=dark] .search-result a, html[theme=dark] .search-result i {
  color: rgba(196, 196, 196, 0.4) !important;
}
html[theme=dark] .js-search {
  box-shadow: 0 0 0.2rem 0.1rem rgba(2, 189, 102, 0.15);
  -webkit-box-shadow: 0 0 0.2rem 0.1rem rgba(2, 189, 102, 0.15);
  -moz-box-shadow: 0 0 0.2rem 0.1rem rgba(2, 189, 102, 0.15);
  -o-box-shadow: 0 0 0.2rem 0.1rem rgba(2, 189, 102, 0.15);
  color: rgba(196, 196, 196, 0.4) !important;
}
html[theme=dark] .js-search a {
  color: rgb(196, 196, 196) !important;
}
html[theme=dark] .js-search a:hover {
  color: rgb(2, 189, 102) !important;
  background: rgba(184, 204, 208, 0.12) !important;
}
html[theme=dark] .js-search i {
  color: rgba(153, 153, 153, 0.4) !important;
}
html[theme=dark] .search-icon {
  color: rgba(196, 196, 196, 0.4);
  background: rgb(41, 55, 61);
}
html[theme=dark] .search-icon:hover {
  color: rgb(2, 189, 102);
}
html[theme=dark]:hover .structure-child {
  background: rgb(22, 27, 32);
  background: rgb(22, 27, 32);
  border-color: rgb(52, 65, 72);
  border-bottom-color: rgb(22, 27, 32);
  box-shadow: 0 -0.2rem 0.1rem rgba(2, 189, 102, 0.15);
  -webkit-box-shadow: 0 -0.2rem 0.1rem rgba(2, 189, 102, 0.15);
  -moz-box-shadow: 0 -0.2rem 0.1rem rgba(2, 189, 102, 0.15);
  -o-box-shadow: 0 -0.2rem 0.1rem rgba(2, 189, 102, 0.15);
}
html[theme=dark] .structure-child {
  background: rgb(22, 27, 32);
}
html[theme=dark] .structure-child li:first-child, html[theme=dark] .structure-child li:nth-of-type(1), html[theme=dark] .structure-child li:nth-of-type(2), html[theme=dark] .structure-child li:nth-of-type(3), html[theme=dark] .structure-child li:last-child {
  border-color: rgb(52, 65, 72);
}
html[theme=dark] #switch-button .icon-catalog-close {
  color: rgb(196, 196, 196);
}
html[theme=dark] ::-webkit-scrollbar-thumb {
  background: rgba(52, 65, 72, 0.8);
}
html[theme=dark] ::-webkit-scrollbar,
html[theme=dark] ::-webkit-scrollbar-corner,
html[theme=dark] ::-webkit-resizer,
html[theme=dark] ::-webkit-scrollbar-track,
html[theme=dark] ::-webkit-scrollbar-track-piece {
  background: rgba(52, 65, 72, 0.1);
}
html[theme=dark] code, html[theme=dark] code.hljs {
  color: #95def6;
  background: transparent;
}
html[theme=dark] p code, html[theme=dark] p code.hljs {
  background: rgba(165, 187, 192, 0.12);
}
html[theme=dark] .hljs-comment {
  color: #667c89;
}

/*@media*/
@media screen and (max-width: 768px) {
  #left-container {
    width: 24rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
  }
  #right-container {
    padding: 0 2rem;
  }
  #content {
    width: 100%;
  }
  #switch-button {
    height: 4rem;
  }
  .search {
    width: 75%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  #right-container {
    padding: 0 3rem;
  }
  #content {
    width: 100%;
  }
  .search {
    width: 75%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  #left-container {
    width: 26rem;
  }
  #right-container {
    padding: 0 5rem;
  }
  #content {
    width: 100%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1920px) {
  #right-container {
    border: none;
  }
  #content {
    width: 100%;
    max-width: 140rem;
  }
}
@media screen and (min-width: 1921px) {
  #body-container {
    width: 178rem;
    margin: auto;
  }
  #left-container {
    border-left-style: solid;
    border-left-width: 0.1rem;
  }
  #right-container {
    border-right-style: solid;
    border-left-style: solid;
    border-left-width: 0.1rem;
  }
  #content {
    width: 100%;
    max-width: 140rem;
  }
}

/*# sourceMappingURL=index.css.map */
