/*hljs-style*/
pre code.hljs {
  white-space: break-spaces;
  word-break: break-word;
}

code.hljs {
  color: #2f479f;
  padding: 0;
  background: transparent;
}

.hljs {
  background: transparent;
}

.hljs-comment {
  color: rgba(72, 93, 108, 0.75);
}

.hljs-punctuation, .hljs-tag {
  color: #4ad3f8;
}

.hljs-tag .hljs-attr, .hljs-tag .hljs-name {
  color: #fa5a5a;
}

.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-name, .hljs-selector-tag {
  color: #3cb2fc;
}

.hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
  color: #00a866;
}

.hljs-section, .hljs-title {
  color: #af66ef;
}

.hljs-link, .hljs-operator, .hljs-regexp, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-symbol, .hljs-template-variable, .hljs-variable {
  color: #ff5c6d;
}

.hljs-literal {
  color: #0d50cc;
}

.hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
  color: #e38603;
}

.hljs-meta {
  color: #ae42f3;
}

.hljs-meta .hljs-string {
  color: #32b1e1;
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 500
}
@mixin code-dark {
  code,code.hljs {
    color: #c9cffd;
    background: rgba(62, 105, 215, 0.3);
  }
  pre code,pre code.hljs {
    color: #c9cffd;
    background: transparent;
  }
  p code,table code,p code.hljs{
    background: rgba(61, 104, 213, 0.15);
  }
  .hljs-comment {
    color: #667c89ff;
  }
}