@import "global";
@import "hljs";
//root
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 62.5%;
  background-color: $bg-color;
  color: $text-color;
  height: 100%;
  overflow: hidden;
  letter-spacing: .05rem;
}

body {
  font-size: $size-16;
  line-height: 1.6;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  line-height: 1.5;
  margin: 32px 0 16px;
  color: $title-color;
  letter-spacing: 2px;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

hr {
  border: none;
  height: .1rem;
  margin: $size-16 0;
  background: $grey-color;
  box-sizing: border-box;
}

::selection {
  background: $color-2-0-c;
  text-shadow: none;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

a {
  text-decoration: none;
  color: $color-1;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: $color-2;
    text-decoration: underline;
  }
}

p {
  margin: $size-16 0;
}

strong {
  font-weight: bold;
  color: $title-color;
}

u {
  text-decoration-color: $title-color;
  -moz-text-decoration-color: $title-color;
}

em {
  font-weight: 400;
}

del {
  color: $text-grey;
  text-decoration: line-through;
  text-decoration-color: $color-2;
  -moz-text-decoration-color: $color-2;
}

/*sup,sub*/
sup, sub {
  font-size: 1.2rem;
  padding: 0 .1rem;
}

sup.md-footnote {
  padding: 0 .2rem;

  &:hover {
    color: $color-2;
    cursor: pointer;
  }
}

mark {
  background-color: $color-1;
  padding: 0 .4rem;
  @include border-radius(0.4rem);
  color: $bg-color;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

kbd {
  display: inline-block;
  line-height: $size-22;
  border: none;
  background: $title-color;
  color: $bg-color;
  border-image: none;
  @include border-radius(.4rem);
  padding: 0 .6rem;
  vertical-align: text-top;
  font-size: 1.4rem;
  box-shadow: none;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

img {
  display: block;
  max-width: 100%;
  @include border-radius();
  margin: 0 auto 1.6rem;
  color: $text-grey;
}

//列表
ul li, ol li {
  input, p {
    display: inline-block;
  }

  p {
    margin: 0;
  }
}

li > input {
  margin-left: -2rem;
}

ul, ol {
  margin-left: 0;
  padding-left: 3.4rem;
}

ol > li > ul,
ul > li > ol {
  padding-left: 3.4rem;
}

#content {
  ul, ol, dl {
    margin: .5rem auto;
  }

  ul li,
  ol li {
    margin-bottom: .5rem;
  }
}

/*blockquote*/
blockquote,
.md-alert {
  @include code-box($padding: 1.6rem, $font-size: $size-16);
  @include border-radius();
  border-left: .4rem solid $color-1;
  border-bottom: none;
  border-top: none;
  border-right: none;
  background: $color-1-0-b;
  overflow: hidden;
}

blockquote code,
.md-alert code {
  background: $color-1-0-a;
  padding: 0.3rem 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

blockquote blockquote {
  background: $color-1-0-b;
}

/*only Typora blockquote*/
.md-alert.md-alert-note {
  border-left-color: $color-1;
  background: $color-1-0-b;
  color: $color-1;
}

.md-alert.md-alert-note .md-alert-text-note {
  color: $color-1;
}

.md-alert.md-alert-caution {
  border-left-color: $color-2;
  background: $color-2-0-b;
  color: $color-2;
}

.md-alert.md-alert-caution .md-alert-text-caution {
  color: $color-2;
}

.md-alert.md-alert-tip {
  border-left-color: $color-3;
  background: $color-3-0-b;
  color: $color-3;
}

.md-alert.md-alert-tip .md-alert-text-tip {
  color: $color-3;
}

.md-alert.md-alert-important {
  border-left-color: $color-4;
  background: $color-4-0-b;
  color: $color-4;
}

.md-alert.md-alert-important .md-alert-text-important {
  color: $color-4;
}

.md-alert.md-alert-warning {
  border-left-color: $color-5;
  background: $color-5-0-b;
  color: $color-5;
}

.md-alert.md-alert-warning .md-alert-text-warning,
{
  color: $color-5;
}

/*code*/
code {
  font-family: monospace;
}

code, tt {
  margin: 16px 0;
  background: $bg-color2;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 10px;
  color: $text-code;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

p code,
p tt,
li code,
li tt,
blockquote code,
blockquote tt,
.md-alert code,
.md-alert tt,
table code,
table tt {
  padding: 3px 6px !important;
  background: $color-1-0-a;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  vertical-align: middle;
}

h1 code {
  font-size: 18px;
}

h2 code {
  font-size: 16px;
}

.outline-content .outline-item code {
  font-size: 11px;
  padding: 2px 6px !important;
}

/*
 * ------------------------
 * pre
 * ------------------------
*/
pre {
  margin: 16px 0;
  padding: 16px;
  background: $bg-color2;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 8px;
  color: $text-code;
  overflow: auto;
}

pre pre {
  background: transparent;
  padding: 5px 10px;
  border: none;
}

/*sup,sub*/
sup, sub {
  font-size: $size-12;
  padding: 0 .1rem;
}

sup.md-footnote {
  padding: 0 .2rem;

  &:hover {
    color: $color-2;
  }
}

.iconfont {
  color: $text-grey;

  &:hover {
    text-shadow: .1rem .1rem .1rem rgb($color-1, .75);
  }
}

/*table*/
table {
  @include table-style;
}

/*input*/
input {
  border-radius: 5px;
  line-height: 1.2;
  position: relative;
  padding: 0 6px;
  outline: none;
  border: 1px solid $border-color;
  margin-right: .8rem;
}

input:focus,
textarea:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus {
  border-color: $color-1;
  box-shadow: none;
  outline: none;
}

input::placeholder {
  font-size: 14px;
  color: $text-grey;
}

/*input checkbox*/
input[type="checkbox"],
input[type="radio"] {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  width: 14px;
  height: 14px;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid $border-color;
  border-radius: 3px;
  list-style: none;
  background: $bg-color;
  margin-bottom: -2px;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: $color-1 !important;
  border-color: transparent;
}

input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 5px;
  height: 9px;
  background: transparent;
  border: 2px solid $bg-color;
  border-top: none;
  border-left: none;
  position: absolute;
  box-sizing: border-box;
  bottom: 2.5px;
  left: 3.5px;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
}

input[type="radio"] {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid $border-color;
  margin-bottom: 0 !important;
}

input[type="radio"]:checked::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  box-sizing: border-box;
  margin: 3px auto;
  background: $bg-color !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

#body-container {
  background: $bg-color;
  position: relative;
  width: 100vw;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

/*left-containe*/
#left-container {
  width: 30rem;
  background: $bg-color;
  border-right: 1px solid $border-color;
  z-index: 20;
  position: relative;
  line-height: 2rem;
  overflow: hidden;
  transition: width 0.2s linear, height 0.2s linear;
  -moz-transition: width 0.2s linear, height 0.2s linear;
  -webkit-transition: width 0.2s linear, height 0.2s linear;
  -o-transition: width 0.2s linear, height 0.2s linear;

  a {
    line-height: 2rem;
  }
}

/*right-containe*/
#right-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 0 10rem 0;
  box-sizing: border-box;
}

#content > *:first-child {
  margin-top: 3.2rem !important;
}

#content {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  transition: scroll 0.2s linear;
  -moz-transition: scroll 0.2s linear;
  -webkit-transition: scroll 0.2s linear;
  -o-transition: scroll 0.2s linear;

  & h1 > span,
  & h2 > span,
  & h3 > span,
  & h4 > span,
  & h5 > span,
  & h6 > span {
    float: left;
    margin-right: 1rem;
    display: none;
  }
}

/*top-container*/
.top-container {
  height: 6.2rem;
  border-bottom: 1px solid $border-color;
  color: $text-grey;
  padding: 1.6rem 0 1.6rem 1.6rem;
  margin-right: 0;
  position: relative;
  box-sizing: border-box;
  z-index: 25;
  line-height: 3.1rem;
  background: $bg-color;
}

.catalog-button {
  position: absolute;
  z-index: 32;
  font-size: 2.8rem;
  cursor: pointer;
  float: left;

  &:hover {
    color: $color-2 !important;
    text-shadow: none;
  }
}

.search-container {
  height: 4rem;
  position: absolute;
  overflow: hidden;
  padding: .4rem;
  top: 1.1rem;
  right: 1.1rem;
  left: 1.2rem;
  box-sizing: border-box;
}

.search {
  @extend .input-text;
  float: right;
  position: relative;
  z-index: 33;
  width: 80%;
  overflow: hidden;
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: width 0.1s linear;
  -moz-transition: width 0.1s linear;
  -webkit-transition: width 0.1s linear;
  -o-transition: width 0.1s linear;

  &:focus {
    outline: none;
    width: 100%;
    border-color: $color-1;
    @include box-shadow-1(rgb($color-1, .2));
  }

  &::placeholder {
    color: $text-grey;
  }
}

.search-icon {
  position: absolute;
  z-index: 35;
  font-size: $size-12;
  right: .7rem;
  top: .85rem;
  padding: 0 .5rem;
  background: $bg-color;
  cursor: pointer;
  display: none;
  line-height: 2.3rem;

  &:hover {
    color: $color-1;
  }
}

.search-result {
  max-height: 0;
  overflow: hidden;
  margin-top: 3.7rem;
  margin-right: 1.4rem;
  background: $bg-color;
  font-size: 1.4rem;
  line-height: 1.2;
  color: $text-grey;
  box-sizing: border-box;
  position: relative;
  z-index: 40;
  transition: max-height 0.2s linear;
  -moz-transition: max-height 0.2s linear;
  -webkit-transition: max-height 0.2s linear;
  -o-transition: max-height 0.2s linear;

  & > nav {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;

    & a {
      display: block;
      color: $bg-color;
      margin-bottom: .25rem;
      padding: .5rem 1rem;
      box-sizing: border-box;
      @include border-radius(.5rem);
      word-break: break-word;

      &:hover {
        cursor: pointer;
        color: $color-1 !important;
        background: $bg-color2;
      }
    }

    & > div {
      height: auto;
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: -moz-box;
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      -moz-flex-direction: column;
      justify-content: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;

      & i {
        display: block;
        color: $bg-color;
        text-align: center;
        font-size: 2.2rem;
        margin-top: 3.6rem;
        margin-bottom: 1rem;

        &:hover {
          text-shadow: none;
        }
      }

      & span {
        display: block;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        text-align: center;

        &:first-of-type {
          margin-top: .5rem;
          margin-bottom: .6rem;
        }

        &:last-child {
          margin-bottom: 3.6rem;
        }
      }
    }
  }
}

/*list-container*/
#list-container {
  width: 100%;
  position: absolute;
  top: 6.2rem;
  left: 0;
  bottom: 4.1rem;
  z-index: 24;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 1.6rem 1.6rem;
}

.list-wrapper {
  font-size: $size-16;
  position: relative;
  margin-top: 1.6rem;

  & .empty-catalog {
    margin-top: 2rem;
    text-align: center;
    color: $text-grey;
    font-size: 1.3rem;

    .iconfont {
      font-size: 2rem;
    }

    p {
      margin-top: .5rem;
      text-align: left;
    }
  }

  ul {
    display: block;
    position: relative;
    margin-left: 0;
    padding-left: 0;

    &:before {
      @include pseudo-element($w: .1rem, $h: 100%, $p: absolute);
      box-sizing: border-box;
      top: -.55rem;
      left: .8rem;
      z-index: 15;
      margin-bottom: .8rem;
      background: $border-color;
    }
  }

  ul li {
    width: 100%;
    list-style: none;
    margin-left: 0 !important;
    position: relative;
    line-height: 1.1 !important;
    box-sizing: border-box;
  }
}

.list-wrapper ul li i {
  float: left;
  font-size: 1.3rem;
  margin-top: .6rem;
  margin-left: .15rem;
  background: $bg-color;
  @include border-radius(.3rem);
  position: relative;
  z-index: 20;
  cursor: pointer;
}

.list-wrapper ul li a {
  display: block;
  position: relative;
  z-index: 18;
  font-size: 1.4rem;
  font-weight: normal;
  color: $grey-color-dark;
  padding: .6rem;
  margin-bottom: .25rem;
  margin-left: 2rem;
  box-sizing: border-box;
  line-height: 1.1 !important;
  background: transparent;
  @include border-radius(.5rem);

  &:before {
    @include pseudo-element($w: 1.5rem, $p: absolute);
    left: -1.2rem;
    margin-right: .2rem;
    top: 1.28rem;
    background: $border-color;
  }

  div {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 18;
  }

  p {
    float: left;
    margin-right: .2rem;
    display: table-cell;
  }

  &:hover {
    text-decoration: none;

    &:before {
      width: 1.2rem !important;
    }

    div {
      white-space: wrap;
    }

    span {
      display: table-cell;
      word-break: break-word;
    }
  }
}

.list-wrapper ul li:hover {
  & > a {
    color: $color-2;
    background: $bg-color2;

    &:before {
      width: 1.4rem;
    }
  }

  & > .iconfont {
    color: $color-2;
  }
}

.list-wrapper > ul > li:last-child:after {
  @include pseudo-element($w: .3rem, $h: 100%, $p: absolute);
  top: 1.2rem;
  left: .7rem;
  z-index: 15;
  background: $bg-color;
}

.list-wrapper > ul li:last-child > a:before {
  @include pseudo-element($w: 1.5rem, $h: 50%, $p: absolute);
  left: -1.2rem;
  margin-right: .2rem;
  top: -0.1rem;
  border-left: .1rem solid $border-color;
  border-bottom: .1rem solid $border-color;
  border-bottom-left-radius: .3rem;
  background: transparent;
  z-index: 30;
}

.list-wrapper > ul li:last-child > a:after {
  @include pseudo-element($w: .3rem, $h: 100%, $p: absolute);
  left: -1.3rem;
  top: 1rem;
  background: $bg-color;
  z-index: 25;
}

.list-wrapper > ul > li:first-child > a:after {
  @include pseudo-element($w: .3rem, $h: 2rem, $p: absolute);
  left: -1.3rem;
  top: -.65rem;
  background: $bg-color;
  z-index: 31;
}

.list-wrapper ul li ul {
  margin-left: 2.2rem !important;
  margin-top: .24rem;

  & li:last-child:before {
    @include pseudo-element($w: .3rem, $h: 100%, $p: absolute);
    top: 1.45rem;
    left: .7rem;
    background: $bg-color;
    z-index: 15;
  }
}

/*bottom-container*/
.bottom-container {
  width: 100%;
  height: 4rem;
  position: absolute;
  z-index: 30;
  bottom: 0;
  background: $bg-color;
  padding: 0 1.6rem;
  box-sizing: border-box;
  border-top: 1px solid $border-color;
  color: $text-grey;

  .mode, .index, .structure, .quit-menu {
    float: left;
    position: relative;
    margin-right: 14%;
    z-index: 40;
  }

  .quit-menu {
    margin-right: 0 !important;
  }

  .iconfont {
    font-size: 2rem;
    line-height: 4rem;

    &:hover {
      color: $color-2;
      cursor: pointer;
      text-shadow: none;
    }
  }

  .icon-quit {
    font-size: 2.2rem;
  }
}

.structure:hover {
  .structure-child {
    height: 20.8rem;
    bottom: 4rem;
    padding: 1rem 1.5rem 0;
    @include border-default();
    @include border-radius($size: 0.6rem);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: $bg-color;
    @include box-shadow-2(rgb($grey-color, .7));
  }
}

.structure-child {
  height: 0;
  background: $bg-color;
  padding: 0 1.5rem 0;
  margin: 0;
  position: absolute;
  z-index: 30;
  bottom: 4rem;
  left: -4.9rem;
  box-sizing: border-box;
  overflow: hidden;
  transition: height 0.1s linear;
  -moz-transition: height 0.1s linear;
  -webkit-transition: height 0.1s linear;
  -o-transition: height 0.1s linear;

  li {
    margin-left: 0 !important;
    padding: 0 1rem;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: .8rem;
    text-align: left;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;

    &:hover {
      color: $color-2;

      input[type="radio"] {
        border-color: $color-2;
      }

      input[type="radio"]:checked {
        border-color: $color-2;
        background: $color-2 !important;
      }
    }

    &:first-child, &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
      padding-bottom: .8rem;
      border-bottom: .1rem dashed $border-color;

      label {
        margin-left: -.8rem;
      }
    }

    &:last-child {
      padding-bottom: .8rem;
      margin-bottom: 0;
      border-bottom: .1rem dashed $border-color;
    }

  }

  li label {
    font-size: 1.2rem !important;
    vertical-align: bottom;
    cursor: pointer;
  }

  li input[type='radio'] {
    width: $size-12;
    height: $size-12;
    @include border-default($color: $color-1);
    @include border-radius($size: 50%);
    cursor: not-allowed;
    margin-left: 0;
  }
}

/*switch-button*/
#switch-button {
  position: absolute;
  z-index: 110;
  width: 3.4rem;
  height: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  transition: height 0.2s linear;
  -moz-transition: height 0.2s linear;
  -webkit-transition: height 0.2s linear;
  -o-transition: height 0.2s linear;

  i {
    display: block;
    position: absolute;
    color: $color-1;
    font-size: 4rem;
  }

  .icon-label {
    top: -1.3rem;
    left: -.2rem;
    text-shadow: 0 0 .3rem rgb($bg-dark, .5);
  }

  .icon-catalog-close {
    top: .2rem;
    left: .85rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: $bg-color;
    text-shadow: none;
  }

  &:hover .icon-label {
    color: $color-2;
  }
}

//note-tips
#content > footer {
  margin-top: 7.2rem;
  box-sizing: border-box;
}

.note-tips {
  font-size: .9rem;
  padding: 1.1rem 0;
  border-top: .1rem solid $border-color;
  color: $text-grey;
  margin: 0;
  text-align: center;

  &::before {
    content: '\00A9';
    font-size: 1.2rem;
    vertical-align: middle;
    margin-right: .2rem;
  }
}

/*scroll style*/
html {
  scrollbar-color: $border-color $bg-color2;
}

html,
html div,
html aside,
html article,
html section,
html nav,
html footer,
html pre,
html code {
  scrollbar-width: thin;
}

/*dark style*/
html[theme=dark] {
  @include theme-dark;
  @include code-dark;
}

/*@media*/
@media print {
  table,
  pre {
    page-break-inside: avoid;
  }
  pre {
    word-wrap: break-word;
  }
}

@media screen and (max-width: 768px) {
  #left-container {
    width: 24rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
  }
  #right-container {
    padding: 0 3.2rem;
  }
  #switch-button {
    height: 4rem;
  }
  .search {
    width: 82%;
  }
  #content > footer {
    margin-top: 3.2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  #right-container {
    padding: 0 3.2rem;
  }
  .search {
    width: 78%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
  #right-container {
    padding: 0 6rem;
  }
  #left-container {
    width: 28rem;
  }
}

@media screen and (min-width: 1921px) {
  #body-container {
    max-width: 256rem;
    margin: 0 auto;
  }
}

